<template>
    <div class="cbg-main">
        <div class="query-box" :class="{'collspan': collspan}">
            <Row type="flex" align="middle" class="item-query">
                <Col span="1" class="title">门派</Col>
                <Col span="11" class="con-box">
                    <Col span="2" v-for="(item, index) in mpData" :key="index">
                        <div class="item-img"  @click="chooseMp(item)" :class="['bg-' + item.src]">
                            <div class="choose-bg" :class="{'choose': item.choosed}">
                                <Icon type="ios-checkmark" class="choose-icon" v-show="item.choosed"></Icon>
                            </div>
                        </div>
                    </Col>
                </Col>
            </Row>
			<Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">等级</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_level_min" />
						<span class="item-seq">-</span>
						<InputNumber v-model="searchData.search_level_max" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">装评</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_equ_xiuwei" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">修为</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_xiuwei" />
					</Row>
				</Row>
				<!-- <Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">神启</Col>
					<Row type="flex" align="middle" class="item-qj">
						<Cascader :data="flyData" v-model="fly_level"></Cascader>
					</Row>
				</Row> -->
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">价格</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_price_min" />
						<span class="item-seq">-</span>
						<InputNumber v-model="searchData.search_price_max" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">法功</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.mattack_min" />
						<span class="item-seq">-</span>
						<InputNumber v-model="searchData.search_mattack_max" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">物攻</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.pattack_min" />
						<span class="item-seq">-</span>
						<InputNumber v-model="searchData.search_pattack_max" />
					</Row>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">加护</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_jiahu" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">炼护</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_lian_hu" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">追电</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_movespeed" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">疾语</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_castspeed" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">会心</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_huixin" />
					</Row>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">回避</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_avoid" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">神明</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_shenming" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">命中</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_hit" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">重击</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_modadd" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">诛心</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_zhu_xin" />
					</Row>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">御心</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_yu_xin" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">万钧</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_wan_jun" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">铁壁</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.search_tie_bi" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">人祸</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.attackhuman" />
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">知彼</Col>
					<Row type="flex" align="middle" class="item-qj">
						<InputNumber v-model="searchData.defhuman" />
					</Row>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Col span="1" class="title">元魂珠</Col>
				<Row type="flex" align="middle" class="item-qj">
					<div class="choose-box" 
						v-for="(item, index) in yhData" 
						:key="index" 
						:class="{'choosed': item.choosed}"
						@click="item.choosed = !item.choosed">
						<div class="choose-bg">
							<span class="choose-text">{{item.name}}</span>
						</div>
						<Icon class="choosed-icon" type="ios-checkmark-empty" v-show="item.choosed"></Icon>
					</div>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Col span="1" class="title">时装</Col>
				<Row type="flex" align="middle" >
					<div class="choose-box mgb2" 
						v-for="(item, index) in szData" 
						:key="index" 
						:class="{'choosed': item.choosed}"
						@click="item.choosed = !item.choosed">
						<div class="choose-bg">
							<span class="choose-text">{{item.name}}</span>
						</div>
						<Icon class="choosed-icon" type="ios-checkmark-empty" v-show="item.choosed"></Icon>
					</div>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Col span="1" class="title">坐骑</Col>
				<Row type="flex" align="middle" >
					<div class="choose-box mgb2" 
						v-for="(item, index) in zqData" 
						:key="index" 
						:class="{'choosed': item.choosed}"
						@click="item.choosed = !item.choosed">
						<div class="choose-bg">
							<span class="choose-text">{{item.name}}</span>
						</div>
						<Icon class="choosed-icon" type="ios-checkmark-empty" v-show="item.choosed"></Icon>
					</div>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Col span="1" class="title">特技</Col>
				<Row type="flex" align="middle" >
					<div class="choose-box" 
						v-for="(item, index) in tjData" 
						:key="index" 
						:class="{'choosed': item.choosed}"
						@click="item.choosed = !item.choosed">
						<div class="choose-bg">
							<span class="choose-text">{{item.name}}</span>
						</div>
						<Icon class="choosed-icon" type="ios-checkmark-empty" v-show="item.choosed"></Icon>
					</div>
				</Row>
			</Row>
			<Row type="flex" align="middle" class="item-query">
				<Col span="1" class="title">其他</Col>
				<Row type="flex" align="middle" >
					<RadioGroup v-model="other">
						<Radio label="apple" value="0">
							<span>无</span>
						</Radio>
						<Radio label="android" value="1">
							<span>太初武器</span>
						</Radio>
						<Radio label="windows" value="2">
							<span>4代天域</span>
						</Radio>
					</RadioGroup>
				</Row>
			</Row>
        </div>
		<div class="collspan-box" @click="collspan = !collspan">
			<div class="collspan-main" >
				<Icon type="ios-play" class="collspan-icon" :class="{'collspan': collspan}"></Icon>
				<span class="collspan-text">{{collspan?'收起更多筛选':'展开更多筛选'}}</span>
			</div>
		</div>
		<div class="search-box">
			<Button type="info" @click="search()">搜索</Button>
		</div>
		<div class="cbg-body">
			<el-table 
				:data="tableData"
				style="width: 100%"
				height="700"
				>
				<el-table-column type="expand">
					<template slot-scope="props">
						<el-form label-position="left" inline class="table-expand">
							<el-form-item label="天域声望">
								<span>{{props.row.tianyuwangchao}}</span>
							</el-form-item>
							<el-form-item label="军姿">
								<span>{{props.row.junzi}}</span>
							</el-form-item>
							<el-form-item label="元宝+军饷">
								<span>{{props.row.coinA + props.row.coinB}}</span>
							</el-form-item>
							<el-form-item label="金钱">
								<span>{{props.row.cash}}</span>
							</el-form-item>
							<el-form-item label="神启境界">
								<span>{{((props.row.fly_soul_phase === 1)?('地魂  '):(((props.row.fly_soul_phase === 2)?('天魂  '):('无')))) + props.row.fly_soul_lv}}</span>
							</el-form-item>
							<el-form-item label="物攻">
								<span>{{props.row.pattack_min}}</span>
								<span>~</span>
								<span>{{props.row.pattack_max}}</span>
							</el-form-item>
							<el-form-item label="法攻">
								<span>{{props.row.mattack_min}}</span>
								<span>~</span>
								<span>{{props.row.mattack_max}}</span>
							</el-form-item>
							<el-form-item label="会心">
								<span>{{props.row.huixin}}</span>
							</el-form-item>
							<el-form-item label="重击">
								<span>{{props.row.modadd}}</span>
							</el-form-item>
							<el-form-item label="命中">
								<span>{{props.row.hit}}</span>
							</el-form-item>
							<el-form-item label="神明">
								<span>{{props.row.shenming}}</span>
							</el-form-item>
							<el-form-item label="回避">
								<span>{{props.row.avoid}}</span>
							</el-form-item>
							<el-form-item label="人祸/知彼">
								<span>{{props.row.attackhuman + '/' + props.row.defhuman}}</span>
							</el-form-item>
							<el-form-item label="诛心/御心">
								<span>{{props.row.zhu_xin + '/' + props.row.yu_xin}}</span>
							</el-form-item>
							<el-form-item label="万钧/铁壁">
								<span>{{props.row.wan_jun + '/' + props.row.tie_bi}}</span>
							</el-form-item>
							<el-form-item label="武器">
								<span>{{(props.row.taichuwuqi === 1)?('四代天域'):((props.row.taichuwuqi === 2)?('太初武器'):('其他'))}}</span>
							</el-form-item>
							<el-form-item label="特技" class="whole-width">
								<Tag checkable v-for="(item,index) in props.row.tejiList" :key="index" color="#27AEF3">{{item}}</Tag>
							</el-form-item>
							<el-form-item label="时装"  class="whole-width">
								<Tag checkable v-for="(item,index) in props.row.shizhuangList" :key="index" color="#18B660">{{item}}</Tag>
							</el-form-item>
							<el-form-item label="坐骑"  class="whole-width">
								<Tag checkable v-for="(item,index) in props.row.zuoqiList" :key="index" color="#FF8E00">{{item}}</Tag>
							</el-form-item>
							<el-form-item label="元魂珠"  class="whole-width">
								<Tag checkable v-for="(item,index) in props.row.yuanhunzhuList" :key="index" color="#EA3714">{{item}}</Tag>
							</el-form-item>
						</el-form>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					label="等级"
					align="center"
					width="80">
					<template slot-scope="scope">
						<span>{{ scope.row.level }}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					label="头像"
					align="center"
					width="60">
					<template slot-scope="scope">
						<div>
							<img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
						</div>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="角色名/服务器"
					>
					<template slot-scope="scope">
						<span>{{ scope.row.area_name + '-' + scope.row.server_name}}</span>
						<br>
						<span>{{scope.row.seller_nickname}}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="装评/修为"
					width="120">
					<template slot-scope="scope">
						<span>{{ scope.row.equ_xiuwei }}</span>
						<span>/</span>
						<span>{{scope.row.xiuwei}}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="加护/炼护"
					width="120">
					<template slot-scope="scope">
						<span>{{ scope.row.jiahu }}</span>
						<span>/</span>
						<span>{{scope.row.lian_hu}}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="追电/疾语"
					width="120">
					<template slot-scope="scope">
						<span>{{ scope.row.movespeed }}</span>
						<span>/</span>
						<span>{{ scope.row.castspeed }}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="价格"
					width="120">
					<template slot-scope="scope">
						<span>{{ '￥' + scope.row.price }}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					align="center"
					label="剩余时间">
					<template slot-scope="scope">
						<span>{{ scope.row.expire_time }}</span>
					</template>
				</el-table-column>
				<el-table-column
					prop="string"
					label="操作"
					align="center"
					width="200">
					<template slot-scope="scope">
						<el-button
							type="primary"
							size="mini"
							plain>
							<a target="_blank" :href="'http://bang.tx3.163.com/bang/search#name='+ scope.row.equip_name +'&school='+ scope.row.school +'&level=' + scope.row.equip_level">英雄榜</a>
						</el-button>
						<el-button
							size="mini"
							type="success"
							plain>
							<a target="_blank" :href="'http://tx3.cbg.163.com/cgi-bin/equipquery.py?act=overall_search_show_detail&serverid='+ scope.row.serverid +'&equip_id='+ scope.row.equipid +''">藏宝阁</a>
						</el-button>
					</template>
				</el-table-column>
			</el-table>
		</div>
    </div>
</template>
<style>
 .table-expand {
    font-size: 0;
}
.table-expand label {
    width: 90px;
    color: #99a9bf;
}
.table-expand .el-form-item {
    margin-right: 0;
    margin-bottom: 0;
    min-width: 25%;
}

.table-expand .el-form-item.whole-width {
	width: 100%;
}
</style>

<script>
import http from 'axios'
export default {
	data(){
		return {
			page: 1,
			mpData: [
				{
					name: '荒火',
					src: 'hh',
					choosed: false
				},
				{
					name: '天机',
					src: 'tj',
					choosed: false
				},
				{
					name: '羽毛',
					src: 'ym',
					choosed: false
				},
				{
					name: '魍魉',
					src: 'wl',
					choosed: false
				},
				{
					name: '太虚',
					src: 'tx',
					choosed: false
				},
				{
					name: '云麓',
					src: 'yl',
					choosed: false
				},
				{
					name: '冰心',
					src: 'bx',
					choosed: false
				},
				{
					name: '弈剑',
					src: 'yj',
					choosed: false
				},
				{
					name: '鬼墨',
					src: 'gm',
					choosed: false
				},
				{
					name: '龙巫',
					src: 'lw',
					choosed: false
				},
				{
					name: '幽篁',
					src: 'yh',
					choosed: false
				}
			],
			fly_level: [],
			flyData: [
				{
					value: '0',
					label: '不限',
					children: [
						{
							value: '0',
							label: '不限',
							children: [
								{
									value: '0',
									label: '不限'
								}
							]
						}
					]
				},
				{
					value: '1',
					label: '地魂',
					children: [
						{
							value: '0',
							label: '不限',
							children: [
								{
									value: '0',
									label: '不限'
								}
							]
						},
						{
							value: '1',
							label: '壹天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '2',
							label: '贰天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '3',
							label: '叁天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '4',
							label: '肆天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						}
					]
				},
				{
					value: '2',
					label: '天魂',
					children: [
						{
							value: '0',
							label: '不限',
							children: [
								{
									value: '0',
									label: '不限'
								}
							]
						},
						{
							value: '1',
							label: '壹天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '2',
							label: '贰天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '3',
							label: '叁天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '4',
							label: '肆天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '5',
							label: '伍天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						},
						{
							value: '6',
							label: '陆天',
							children: [
								{
									value: '0',
									label: '不限'
								},
								{
									value: '1',
									label: '壹境界'
								},
								{
									value: '2',
									label: '贰境界'
								},
								{
									value: '3',
									label: '叁境界'
								},
								{
									value: '4',
									label: '肆境界'
								},
								{
									value: '5',
									label: '伍境界'
								},
								{
									value: '6',
									label: '陆境界'
								},
								{
									value: '7',
									label: '柒境界'
								},
								{
									value: '8',
									label: '捌境界'
								},
								{
									value: '1',
									label: '玖境界'
								}
							]
						}
					]
				}
			],
			searchData: {
				search_price_min: 80,
				search_price_max: 300000,
				search_level_min: 1,
				search_level_max: 80,
				pattack_min: null,
				search_pattack_max: null,
				mattack_min: null,
				search_mattack_max: null,
				search_xiuwei: null,
				search_equ_xiuwei: null,
				search_jiahu: null,
				search_lian_hu: null,
				search_movespeed: null,
				search_huixin: null,
				search_avoid: null,
				search_shenming: null,
				search_hit : null,
				search_modadd: null,
				search_zhu_xin: null,
				search_yu_xin: null,
				search_wan_jun: null,
				search_tie_bi: null,
				attackhuman: null,
				defhuman: null,
				search_castspeed: null
			},
			yhData: [
				{
					name: '毒浪鬼',
					choosed: false,
					key: 'Gui'
				},
				{
					name: '喜洋羊',
					choosed: false,
					key: 'Yang'
				},
				{
					name: '老马',
					choosed: false,
					key: 'Ma'
				},
				{
					name: '万圣天尊',
					choosed: false,
					key: 'Hou'
				},
				{
					name: '昴日星官',
					choosed: false,
					key: 'Ji'
				},
				{
					name: '八杀骑劫',
					choosed: false,
					key: 'BaShaqijie'
				}
			],
			szData: [
				{
					name: '玄素天成',
					choosed: false,
					key: 'xuansutiancheng'
				},
				{
					name: '黛染青花',
					choosed: false,
					key: 'dairanqinghua'
				},
				{
					name: '孤鸿月影',
					choosed: false,
					key: 'guhongyueying'
				},
				{
					name: '海棠未雨',
					choosed: false,
					key: 'haitangweiyu'
				},
				{
					name: '岸芷汀兰',
					choosed: false,
					key: 'anzhitinglan'
				},
				{
					name: '绛云思暖',
					choosed: false,
					key: 'jiangyunsinuan'
				},
				{
					name: '飞狐华裘',
					choosed: false,
					key: 'feihuhuaqiu'
				},
				{
					name: '仙狐彩袂',
					choosed: false,
					key: 'xianhucaimei'
				},
				{
					name: '天狐霓裳',
					choosed: false,
					key: 'tianhunichang'
				},
				{
					name: '沧海桑田',
					choosed: false,
					key: 'canghaisangtian'
				},
				{
					name: '夜雨江南',
					choosed: false,
					key: 'yeyujiangnan'
				},
				{
					name: '大圣金甲',
					choosed: false,
					key: 'dashengjinjia'
				},
				{
					name: '碧海惊涛',
					choosed: false,
					key: 'bihaijingtao'
				},
				{
					name: '蟾宫折桂',
					choosed: false,
					key: 'changongzhegui'
				},	
				{
					name: '凤羽紫凰',
					choosed: false,
					key: 'fengyuzihuang'
				},
				{
					name: '疏影横斜',
					choosed: false,
					key: 'shuyinghengxie'
				},
				{
					name: '鹰击长空',
					choosed: false,
					key: '鹰击长空'
				},
				{
					name: '鹤羽惊风',
					choosed: false,
					key: '鹤羽惊风'
				},
				{
					name: '化蝶成双',
					choosed: false,
					key: '化蝶成双'
				},
				{
					name: '桃李若梦',
					choosed: false,
					key: '桃李若梦'
				},
				{
					name: '青梅煮酒',
					choosed: false,
					key: '青梅煮酒'
				},
				{
					name: '静湖微澜',
					choosed: false,
					key: '静湖微澜'
				},
				{
					name: '春江花月',
					choosed: false,
					key: '春江花月'
				},
				{
					name: '白云出岫',
					choosed: false,
					key: '白云出岫'
				},
				{
					name: '小荷尖尖',
					choosed: false,
					key: '小荷尖尖'
				},
				{
					name: '日落星辉',
					choosed: false,
					key: '日落星辉'
				},
				{
					name: '蝶恋清梦',
					choosed: false,
					key: '蝶恋清梦'
				},
				{
					name: '凤来朝',
					choosed: false,
					key: '凤来朝'
				},
				{
					name: '锦绣未央',
					choosed: false,
					key: '锦绣未央'
				},
				{
					name: '如若初见',
					choosed: false,
					key: '如若初见'
				},
				{
					name: '皎月使者',
					choosed: false,
					key: '皎月使者'
				}
			],
			zqData: [
				{
					name: '凯枫儿',
					choosed: false,
					key: '凯枫儿'
				},
				{
					name: '金乌展翼',
					choosed: false,
					key: '金乌展翼'
				},
				{
					name: '地载万物',
					choosed: false,
					key: '地载万物'
				},
				{
					name: '新燕双飞',
					choosed: false,
					key: '新燕双飞'
				},
				{
					name: '大无尾熊',
					choosed: false,
					key: '大无尾熊'
				},
				{
					name: '一苇渡江',
					choosed: false,
					key: '一苇渡江'
				},
				{
					name: '御风儿',
					choosed: false,
					key: '御风儿'
				},
				{
					name: '雪羽惊鸿',
					choosed: false
				},
				{
					name: '一叶扁舟',
					choosed: false,
					key: '一叶扁舟'
				},
				{
					name: '冰吼',
					choosed: false,
					key: '冰吼'
				},
				{
					name: '池中方圆',
					choosed: false,
					key: '池中方圆'
				},
				{
					name: '狰',
					choosed: false,
					key: '狰'
				},
				{
					name: '玉鸡子',
					choosed: false,
					key: '玉鸡子'
				},
				{
					name: '东皇太鸡',
					choosed: false,
					key: '东皇太鸡'
				},
				{
					name: '黄泉不系',
					choosed: false,
					key: '黄泉不系'
				},
				{
					name: '玄龙狂鲨',
					choosed: false,
					key: '玄龙狂鲨'
				},	
				{
					name: '鹿鸣梅语',
					choosed: false,
					key: '鹿鸣梅语'
				},
				{
					name: '戾天山尊',
					choosed: false,
					key: '戾天山尊'
				},
				{
					name: '幽狼',
					choosed: false,
					key: '幽狼'
				},
				{
					name: '飞天貔貅',
					choosed: false,
					key: '飞天貔貅'
				},
				{
					name: '月华浮光',
					choosed: false,
					key: '月华浮光'
				},
				{
					name: '玄海虎鲨',
					choosed: false,
					key: '玄海虎鲨'
				},
				{
					name: '海棠儿',
					choosed: false,
					key: '海棠儿'
				},
				{
					name: '豚豚',
					choosed: false,
					key: '豚豚'
				},
				{
					name: '星辰变',
					choosed: false,
					key: '星辰变'
				},
				{
					name: '蒲风',
					choosed: false,
					key: '蒲风'
				},
				{
					name: '呱呱儿',
					choosed: false,
					key: '呱呱儿'
				},
				{
					name: '松鼠佳人',
					choosed: false,
					key: '松鼠佳人'
				},
				{
					name: '漠海云舟',
					choosed: false,
					key: '漠海云舟'
				},
				{
					name: '砚月流墨',
					choosed: false,
					key: '砚月流墨'
				},
				{
					name: '月影白翎',
					choosed: false,
					key: '月影白翎'
				},
				{
					name: '化蝶飞',
					choosed: false,
					key: '化蝶飞'
				},
				{
					name: '冰之幻语',
					choosed: false,
					key: '冰之幻语'
				}
			],
			tjData: [
				{
					name: '完封',
					choosed: false,
					key: 'wanfeng'
				},
				{
					name: '完封10',
					choosed: false,
					key: 'wanfeng10'
				},
				{
					name: '护心',
					choosed: false,
					key: 'ws38'
				},
				{
					name: '挥砍防护',
					choosed: false,
					key: 'ws47'
				},
				{
					name: '钝刺防护',
					choosed: false,
					key: 'ws48'
				},
				{
					name: '火元防护',
					choosed: false,
					key: 'ws50'
				},
				{
					name: '水风毒防护',
					choosed: false,
					key: 'ws53'
				}
			],
			otherMap: {
				'0': undefined,
				'1': 'taichuwuqi',
				'2': 'taichuwuqi'
			},
			other: null,
			collspan: false,
			tableData: null
		}
	},
	created(){
	},
	methods: {
		chooseMp(item) {
			if(!item.choosed) {
				this.mpData.forEach(n => n.choosed = false);
				item.choosed = !item.choosed;
			}
		},
		search() {
			const putData = {};
			let chooseMp = null

			putData.type = 2
			putData.page = this.page;
			this.mpData.forEach((item, index) => {
				if(item.choosed) {
					chooseMp = index + 1;
				}
			})
			if(chooseMp) {
				putData.search_school = chooseMp;
			}
			else {
				this.$Message.error('请选择门派');
				return;
			}
			this.$Spin.show();
			if(this.fly_level && this.fly_level.length > 0) {
				let fl = '';
				this.fly_level.forEach(item => fl+=item);
				putData.fly_level = fl;
			}
			Object.entries(this.searchData).forEach((n) => {
				if(n[1]) {
					putData[n[0]] = n[1]
				}
			});
			this.yhData.forEach((n) => {
				if(n.choosed) {
					putData[n.key] = 1;
				}
			});
			this.szData.forEach((n) => {
				if(n.choosed) {
					putData[n.key] = 1;
				}
			});
			this.zqData.forEach((n) => {
				if(n.choosed) {
					putData[n.key] = 1;
				}
			});
			this.tjData.forEach((n) => {
				if(n.choosed) {
					putData[n.key] = 1;
				}
			});

			const putFormData = new FormData();
			Object.entries(putData).forEach((n) => {
				putFormData.append(n[0], n[1]);
			});

			http.post('/Demo/GetTX3', putFormData).then((res) => {
				this.$Spin.hide();
				if(res.status === 200) {
					if(res.data.Success) {
						res.data.Value.fulist.forEach((item, index) => {
							if(item.zuoqiStr && item.zuoqiStr.trim()) {
								let zuoqiList =  item.zuoqiStr.split(';');
								if(zuoqiList.length > 1) {
									zuoqiList.splice(zuoqiList.length - 1, 1);
								}
								item.zuoqiList = zuoqiList;
							}
							if(item.shizhuangStr && item.shizhuangStr.trim()) {
								let shizhuangList = item.shizhuangStr.split(';');
								if(shizhuangList.length > 1) {
									shizhuangList.splice(shizhuangList.length - 1, 1);
								}
								item.shizhuangList = shizhuangList;
							}
							if(item.tejiStr && item.tejiStr.trim()) {
								let tejiList = item.tejiStr.split(';');
								if(tejiList.length > 1) {
									tejiList.splice(tejiList.length - 1, 1);
								}
								item.tejiList = tejiList;
							}
							if(item.yuanhunzhuStr && item.yuanhunzhuStr.trim()) {
								let yuanhunzhuList = item.yuanhunzhuStr.split(';');
								if(yuanhunzhuList.length > 1) {
									yuanhunzhuList.splice(yuanhunzhuList.length - 1, 1);
								}
								item.yuanhunzhuList = yuanhunzhuList;
							}
						});
						this.tableData = res.data.Value.fulist;
					}
				}
			});
		}
	}
}
</script>