<template>
  <div class="p-cbg-main">
        <van-nav-bar
            title="藏宝阁"
            left-text="返回"
            right-text="搜索"
            left-arrow
            @click-left="onClickLeft()">
            <van-icon @click="showSearch = !showSearch" name="search" slot="right" />
        </van-nav-bar>
        <van-popup v-model="showItemDetail" position="bottom">
            <div class="detail-main">
                <div class="detail-title">
                    <span>{{`${chooseItem.area_name}-${chooseItem.server_name}`}}</span>
                    <span>{{`￥${chooseItem.price}`}}</span>
                </div>
                <div class="detail-body">
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`神启境界: ${((chooseItem.fly_soul_phase === 1)?('地魂  '):(((chooseItem.fly_soul_phase === 2)?('天魂  '):('无')))) + chooseItem.fly_soul_lv}`}}</van-col>
                        <van-col class="item-field" span="12">{{`角色名: ${chooseItem.seller_nickname}`}}</van-col>
                    </van-row >
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`天域声望: ${chooseItem.tianyuwangchao}`}}</van-col>
                        <van-col class="item-field" span="12">{{`军姿: ${chooseItem.junzi}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`元宝: ${chooseItem.coinA + chooseItem.coinB}`}}</van-col>
                        <van-col class="item-field" span="12">{{`金钱: ${chooseItem.cash}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`物攻: ${chooseItem.pattack_min}~${chooseItem.pattack_max}`}}</van-col>
                        <van-col class="item-field" span="12">{{`法攻: ${chooseItem.mattack_min}~${chooseItem.mattack_max}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`会心: ${chooseItem.huixin}`}}</van-col>
                        <van-col class="item-field" span="12">{{`重击: ${chooseItem.modadd}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`命中: ${chooseItem.hit}`}}</van-col>
                        <van-col class="item-field" span="12">{{`神明: ${chooseItem.shenming}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`回避: ${chooseItem.avoid}`}}</van-col>
                        <van-col class="item-field" span="12">{{`人祸/知彼: ${chooseItem.attackhuman}/${chooseItem.defhuman}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="12">{{`诛心/御心: ${chooseItem.zhu_xin}/${chooseItem.yu_xin}`}}</van-col>
                        <van-col class="item-field" span="12">{{`万钧/铁壁: ${chooseItem.wan_jun}/${chooseItem.tie_bi}`}}</van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="24">
                            <span>特技:  </span>
                            <van-tag class="item-tag" v-for="(item,index) in chooseItem.tejiList" :key="index" mark type="danger">{{item}}</van-tag>
                        </van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="24">
                            <span>时装:  </span>
                            <van-tag class="item-tag" v-for="(item,index) in chooseItem.shizhuangList" :key="index" mark type="primary">{{item}}</van-tag>
                        </van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="24">
                            <span>坐骑:  </span>
                            <van-tag class="item-tag" v-for="(item,index) in chooseItem.zuoqiList" :key="index" mark type="success">{{item}}</van-tag>
                        </van-col>
                    </van-row>
                    <van-row class="detail-item">
                        <van-col class="item-field" span="24">
                            <span>元魂珠:  </span>
                            <van-tag class="item-tag" v-for="(item,index) in chooseItem.yuanhunzhuList" :key="index" mark type="primary">{{item}}</van-tag>
                        </van-col>
                    </van-row>
                </div>
                <div class="detail-footer">
                    <Button class="footer-button" @click="openHero($evnet)" type="primary">英雄榜</Button>
                    <Button type="warning" @click="openCbg($evnet)">藏宝阁</Button>
                </div>
            </div>
        </van-popup>
        <div class="p-cbg-body">
            <van-popup class="p-cbg-search" v-model="showSearch" position="right">
                <van-nav-bar
                    title="藏宝阁搜索条件"
                    left-text="返回"
                    left-arrow
                    @click-left="closeSearch()">
                    <van-icon @click="search()" name="search" slot="right" />
                </van-nav-bar>
                <div class="p-cbg-search-body">
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">基础属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-cell title="门派" :required="true" @click="showMpselect = !showMpselect" :value="chooseMp.text" is-link />
                        <van-field label="等级≥" type="number" v-model="searchData.search_level_min" placeholder="请输入等级" />
                        <van-field label="等级≤" type="number" v-model="searchData.search_level_max" placeholder="请输入等级" />
                        <van-field label="价格≥" type="number" v-model="searchData.search_price_min" placeholder="请输入价格(不得低于80)" />
                        <van-field label="价格≤" type="number" v-model="searchData.search_price_max" placeholder="请输入价格(不得高于300000)" />
                        <van-field label="装评" type="number" v-model="searchData.search_equ_xiuwei" placeholder="请输入装评" />
                        <van-field label="修为" type="number" v-model="searchData.search_xiuwei" placeholder="请输入修为" />
                        <van-field label="最小物攻" type="number" v-model="searchData.pattack_min" placeholder="请输入最小物攻" />
                        <van-field label="最大物攻" type="number" v-model="searchData.search_pattack_max" placeholder="请输入最大物攻" />
                        <van-field label="最小法攻" type="number" v-model="searchData.mattack_min" placeholder="请输入最小法攻" />
                        <van-field label="最大法攻" type="number" v-model="searchData.search_mattack_max" placeholder="请输入最大法攻" />
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">高级属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-field label="加护" type="number" v-model="searchData.search_jiahu" placeholder="请输入加护值" />
                        <van-field label="炼护" type="number" v-model="searchData.search_lian_hu" placeholder="请输入炼护值" />
                        <van-field label="追电" type="number" v-model="searchData.search_movespeed" placeholder="请输入追电数值" />
                        <van-field label="疾语" type="number" v-model="searchData.search_castspeed" placeholder="请输入疾语数值" />
                        <van-field label="会心" type="number" v-model="searchData.search_huixin" placeholder="请输入会心数值" />
                        <van-field label="回避" type="number" v-model="searchData.search_avoid" placeholder="请输入回避数值" />
                        <van-field label="神明" type="number" v-model="searchData.search_shenming" placeholder="请输入神明数值" />
                        <van-field label="命中" type="number" v-model="searchData.search_hit" placeholder="请输入命中数值" />
                        <van-field label="重击" type="number" v-model="searchData.search_modadd" placeholder="请输入重击数值" />
                        <van-field label="诛心" type="number" v-model="searchData.search_zhu_xin" placeholder="请输入诛心数值" />
                        <van-field label="御心" type="number" v-model="searchData.search_yu_xin" placeholder="请输入御心数值" />
                        <van-field label="万钧" type="number" v-model="searchData.search_wan_jun" placeholder="请输入万钧数值" />
                        <van-field label="铁壁" type="number" v-model="searchData.search_tie_bi" placeholder="请输入铁壁数值" />
                        <van-field label="人祸" type="number" v-model="searchData.attackhuman" placeholder="请输入人祸数值" />
                        <van-field label="知彼" type="number" v-model="searchData.defhuman" placeholder="请输入知彼数值" />
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">元魂珠属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-cell v-for="(item, index) in yhData" :key="index">
                            <van-checkbox v-model="item.choosed">{{item.name}}</van-checkbox>
                        </van-cell>
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">时装属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-cell v-for="(item, index) in szData" :key="index">
                            <van-checkbox v-model="item.choosed">{{item.name}}</van-checkbox>
                        </van-cell>
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">坐骑属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-cell v-for="(item, index) in zqData" :key="index">
                            <van-checkbox v-model="item.choosed">{{item.name}}</van-checkbox>
                        </van-cell>
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">特技属性选择</h2>
                    </div>
                    <van-cell-group>
                        <van-cell v-for="(item, index) in tjData" :key="index">
                            <van-checkbox v-model="item.choosed">{{item.name}}</van-checkbox>
                        </van-cell>
                    </van-cell-group>
                    <div class="cbg-cell-block">
                        <h2 class="cbg-cell-title">其他属性选择</h2>
                    </div>
                    <van-radio-group v-model="other">
                        <van-cell-group>
                            <van-cell><van-radio name="0">无</van-radio></van-cell>
                            <van-cell><van-radio name="1">太初武器</van-radio></van-cell>
                            <van-cell><van-radio name="2">四代天域</van-radio></van-cell>
                        </van-cell-group>
                    </van-radio-group>
                </div>
                <van-actionsheet v-model="showMpselect" >
                    <van-picker
                        show-toolbar
                        title="门派"
                        :columns="mpData"
                        @cancel="onCancelMp"
                        @confirm="onConfirmMp"
                    />
                </van-actionsheet>
            </van-popup>
            <van-pull-refresh class="p-result-body" v-model="isRefresh">
                <van-card
                v-for="(item, index) in tableData"
                :key="index"
                :price="item.price">
                    <div class="img-box" slot="thumb">
                        <img class="img-img" :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + item.school + item.sex + '.jpg'" alt="">
                        <van-tag type="danger">{{'lv. ' + item.level}}</van-tag>
                    </div>
                    <div slot="title">
                        <div class="title-box">
                            <span class="title-fwq">{{`${item.area_name}-${item.server_name}`}}</span>
                            <van-tag type="primary" class="title-name">{{`${item.seller_nickname}`}}</van-tag>
                            <span class="title-price">{{`￥${item.price}`}}</span>
                        </div>  
                    </div>
                    <div slot="desc">
                        <div class="item-box">
                            <div class="item">
                                <span>{{`装评: ${item.equ_xiuwei}`}}</span>
                            </div>
                            <div class="item">
                                <span>{{`修为: ${item.xiuwei}`}}</span>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="item">
                                <span>{{`加护: ${item.jiahu}`}}</span>
                            </div>
                            <div class="item">
                                <span>{{`炼护: ${item.lian_hu}`}}</span>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="item">
                                <span>{{`剩余时间: ${item.expire_time}`}}</span>
                            </div>
                        </div>
                    </div>
                    <div slot="footer">
                        <div class="op-box">
                            <div class="item-icon" @click="openDetail($event, item)">
                                <van-icon name="arrow" />
                            </div>
                        </div>
                    </div>
                </van-card>
            </van-pull-refresh>
      	</div>
  </div>
</template>
<script>
import http from 'axios'
export default {
    data(){
        return {
            page: 1,
            showSearch: false,
            showItemDetail: false,
            chooseItem: {},
            showMpselect: false,
            chooseMp: null,
            isRefresh:false,
            imageURL: null,
            value: null,
            value1: null,
            mpData: [
				{
					text: '荒火',
					src: 'hh',
					choosed: false
				},
				{
					text: '天机',
					src: 'tj',
					choosed: false
				},
				{
					text: '羽毛',
					src: 'ym',
					choosed: false
				},
				{
					text: '魍魉',
					src: 'wl',
					choosed: false
				},
				{
					text: '太虚',
					src: 'tx',
					choosed: false
				},
				{
					text: '云麓',
					src: 'yl',
					choosed: false
				},
				{
					text: '冰心',
					src: 'bx',
					choosed: false
				},
				{
					text: '弈剑',
					src: 'yj',
					choosed: false
				},
				{
					text: '鬼墨',
					src: 'gm',
					choosed: false
				},
				{
					text: '龙巫',
					src: 'lw',
					choosed: false
				},
				{
					text: '幽篁',
					src: 'yh',
					choosed: false
				}
            ],
            searchData: {
                search_price_min: 80,
				search_price_max: 300000,
				search_level_min: 1,
				search_level_max: 80,
				pattack_min: null,
				search_pattack_max: null,
				mattack_min: null,
				search_mattack_max: null,
				search_xiuwei: null,
				search_equ_xiuwei: null,
				search_jiahu: null,
				search_lian_hu: null,
				search_movespeed: null,
				search_huixin: null,
				search_avoid: null,
				search_shenming: null,
				search_hit : null,
				search_modadd: null,
				search_zhu_xin: null,
				search_yu_xin: null,
				search_wan_jun: null,
				search_tie_bi: null,
				attackhuman: null,
				defhuman: null,
				search_castspeed: null
            },
            yhData: [
				{
					name: '毒浪鬼',
					choosed: false,
					key: 'Gui'
				},
				{
					name: '喜洋羊',
					choosed: false,
					key: 'Yang'
				},
				{
					name: '老马',
					choosed: false,
					key: 'Ma'
				},
				{
					name: '万圣天尊',
					choosed: false,
					key: 'Hou'
				},
				{
					name: '昴日星官',
					choosed: false,
					key: 'Ji'
				},
				{
					name: '八杀骑劫',
					choosed: false,
					key: 'BaShaqijie'
				}
			],
			szData: [
				{
					name: '玄素天成',
					choosed: false,
					key: 'xuansutiancheng'
				},
				{
					name: '黛染青花',
					choosed: false,
					key: 'dairanqinghua'
				},
				{
					name: '孤鸿月影',
					choosed: false,
					key: 'guhongyueying'
				},
				{
					name: '海棠未雨',
					choosed: false,
					key: 'haitangweiyu'
				},
				{
					name: '岸芷汀兰',
					choosed: false,
					key: 'anzhitinglan'
				},
				{
					name: '绛云思暖',
					choosed: false,
					key: 'jiangyunsinuan'
				},
				{
					name: '飞狐华裘',
					choosed: false,
					key: 'feihuhuaqiu'
				},
				{
					name: '仙狐彩袂',
					choosed: false,
					key: 'xianhucaimei'
				},
				{
					name: '天狐霓裳',
					choosed: false,
					key: 'tianhunichang'
				},
				{
					name: '沧海桑田',
					choosed: false,
					key: 'canghaisangtian'
				},
				{
					name: '夜雨江南',
					choosed: false,
					key: 'yeyujiangnan'
				},
				{
					name: '大圣金甲',
					choosed: false,
					key: 'dashengjinjia'
				},
				{
					name: '碧海惊涛',
					choosed: false,
					key: 'bihaijingtao'
				},
				{
					name: '蟾宫折桂',
					choosed: false,
					key: 'changongzhegui'
				},	
				{
					name: '凤羽紫凰',
					choosed: false,
					key: 'fengyuzihuang'
				},
				{
					name: '疏影横斜',
					choosed: false,
					key: 'shuyinghengxie'
				},
				{
					name: '鹰击长空',
					choosed: false,
					key: '鹰击长空'
				},
				{
					name: '鹤羽惊风',
					choosed: false,
					key: '鹤羽惊风'
				},
				{
					name: '化蝶成双',
					choosed: false,
					key: '化蝶成双'
				},
				{
					name: '桃李若梦',
					choosed: false,
					key: '桃李若梦'
				},
				{
					name: '青梅煮酒',
					choosed: false,
					key: '青梅煮酒'
				},
				{
					name: '静湖微澜',
					choosed: false,
					key: '静湖微澜'
				},
				{
					name: '春江花月',
					choosed: false,
					key: '春江花月'
				},
				{
					name: '白云出岫',
					choosed: false,
					key: '白云出岫'
				},
				{
					name: '小荷尖尖',
					choosed: false,
					key: '小荷尖尖'
				},
				{
					name: '日落星辉',
					choosed: false,
					key: '日落星辉'
				},
				{
					name: '蝶恋清梦',
					choosed: false,
					key: '蝶恋清梦'
				},
				{
					name: '凤来朝',
					choosed: false,
					key: '凤来朝'
				},
				{
					name: '锦绣未央',
					choosed: false,
					key: '锦绣未央'
				},
				{
					name: '如若初见',
					choosed: false,
					key: '如若初见'
				},
				{
					name: '皎月使者',
					choosed: false,
					key: '皎月使者'
				}
			],
			zqData: [
				{
					name: '凯枫儿',
					choosed: false,
					key: '凯枫儿'
				},
				{
					name: '金乌展翼',
					choosed: false,
					key: '金乌展翼'
				},
				{
					name: '地载万物',
					choosed: false,
					key: '地载万物'
				},
				{
					name: '新燕双飞',
					choosed: false,
					key: '新燕双飞'
				},
				{
					name: '大无尾熊',
					choosed: false,
					key: '大无尾熊'
				},
				{
					name: '一苇渡江',
					choosed: false,
					key: '一苇渡江'
				},
				{
					name: '御风儿',
					choosed: false,
					key: '御风儿'
				},
				{
					name: '雪羽惊鸿',
					choosed: false
				},
				{
					name: '一叶扁舟',
					choosed: false,
					key: '一叶扁舟'
				},
				{
					name: '冰吼',
					choosed: false,
					key: '冰吼'
				},
				{
					name: '池中方圆',
					choosed: false,
					key: '池中方圆'
				},
				{
					name: '狰',
					choosed: false,
					key: '狰'
				},
				{
					name: '玉鸡子',
					choosed: false,
					key: '玉鸡子'
				},
				{
					name: '东皇太鸡',
					choosed: false,
					key: '东皇太鸡'
				},
				{
					name: '黄泉不系',
					choosed: false,
					key: '黄泉不系'
				},
				{
					name: '玄龙狂鲨',
					choosed: false,
					key: '玄龙狂鲨'
				},	
				{
					name: '鹿鸣梅语',
					choosed: false,
					key: '鹿鸣梅语'
				},
				{
					name: '戾天山尊',
					choosed: false,
					key: '戾天山尊'
				},
				{
					name: '幽狼',
					choosed: false,
					key: '幽狼'
				},
				{
					name: '飞天貔貅',
					choosed: false,
					key: '飞天貔貅'
				},
				{
					name: '月华浮光',
					choosed: false,
					key: '月华浮光'
				},
				{
					name: '玄海虎鲨',
					choosed: false,
					key: '玄海虎鲨'
				},
				{
					name: '海棠儿',
					choosed: false,
					key: '海棠儿'
				},
				{
					name: '豚豚',
					choosed: false,
					key: '豚豚'
				},
				{
					name: '星辰变',
					choosed: false,
					key: '星辰变'
				},
				{
					name: '蒲风',
					choosed: false,
					key: '蒲风'
				},
				{
					name: '呱呱儿',
					choosed: false,
					key: '呱呱儿'
				},
				{
					name: '松鼠佳人',
					choosed: false,
					key: '松鼠佳人'
				},
				{
					name: '漠海云舟',
					choosed: false,
					key: '漠海云舟'
				},
				{
					name: '砚月流墨',
					choosed: false,
					key: '砚月流墨'
				},
				{
					name: '月影白翎',
					choosed: false,
					key: '月影白翎'
				},
				{
					name: '化蝶飞',
					choosed: false,
					key: '化蝶飞'
				},
				{
					name: '冰之幻语',
					choosed: false,
					key: '冰之幻语'
				}
			],
			tjData: [
				{
					name: '完封',
					choosed: false,
					key: 'wanfeng'
				},
				{
					name: '完封10',
					choosed: false,
					key: 'wanfeng10'
				},
				{
					name: '护心',
					choosed: false,
					key: 'ws38'
				},
				{
					name: '挥砍防护',
					choosed: false,
					key: 'ws47'
				},
				{
					name: '钝刺防护',
					choosed: false,
					key: 'ws48'
				},
				{
					name: '火元防护',
					choosed: false,
					key: 'ws50'
				},
				{
					name: '水风毒防护',
					choosed: false,
					key: 'ws53'
				}
            ],
            other: null,
            tableData: null,
        }
    },
    created() {
        this.chooseMp = this.mpData[0];
        this.search();
    },
    methods: {
        onClickLeft() {
            this.$router.push('search');
        },
        onConfirmMp(value, index) {
            this.chooseMp = value;
            this.showMpselect = false;
        },
        onCancelMp() {
            this.showMpselect = false;
        },
        closeSearch(){
            this.showSearch = false;
        },
        search(){
            this.showSearch = false;
            const putData = {};
            let chooseMp = null;
            return new Promise((resolve, reject) => {
                putData.type = 2
                putData.page = this.page;
                this.mpData.forEach((item, index) => {
                    if(item.text === this.chooseMp.text) {
                        chooseMp = index + 1;
                    }
                })
                if(chooseMp) {
                    putData.search_school = chooseMp;
                }
                else {
                    this.$Message.error('请选择门派');
                    return;
                }
                this.$Spin.show();
                if(this.fly_level && this.fly_level.length > 0) {
                    let fl = '';
                    this.fly_level.forEach(item => fl+=item);
                    putData.fly_level = fl;
                }
                Object.entries(this.searchData).forEach((n) => {
                    if(n[1]) {
                        putData[n[0]] = n[1]
                    }
                });
                this.yhData.forEach((n) => {
                    if(n.choosed) {
                        putData[n.key] = 1;
                    }
                });
                this.szData.forEach((n) => {
                    if(n.choosed) {
                        putData[n.key] = 1;
                    }
                });
                this.zqData.forEach((n) => {
                    if(n.choosed) {
                        putData[n.key] = 1;
                    }
                });
                this.tjData.forEach((n) => {
                    if(n.choosed) {
                        putData[n.key] = 1;
                    }
                });

                const putFormData = new FormData();
                Object.entries(putData).forEach((n) => {
                    putFormData.append(n[0], n[1]);
                });
                
                http.post('/Demo/GetTX3', putFormData).then((res) => {
                    this.$Spin.hide();
                    resolve();
                    if(res.status === 200) {
                        if(res.data.Success) {
                            res.data.Value.fulist.forEach((item, index) => {
                                if(item.zuoqiStr && item.zuoqiStr.trim()) {
                                    let zuoqiList =  item.zuoqiStr.split(';');
                                    if(zuoqiList.length > 1) {
                                        zuoqiList.splice(zuoqiList.length - 1, 1);
                                    }
                                    item.zuoqiList = zuoqiList;
                                }
                                if(item.shizhuangStr && item.shizhuangStr.trim()) {
                                    let shizhuangList = item.shizhuangStr.split(';');
                                    if(shizhuangList.length > 1) {
                                        shizhuangList.splice(shizhuangList.length - 1, 1);
                                    }
                                    item.shizhuangList = shizhuangList;
                                }
                                if(item.tejiStr && item.tejiStr.trim()) {
                                    let tejiList = item.tejiStr.split(';');
                                    if(tejiList.length > 1) {
                                        tejiList.splice(tejiList.length - 1, 1);
                                    }
                                    item.tejiList = tejiList;
                                }
                                if(item.yuanhunzhuStr && item.yuanhunzhuStr.trim()) {
                                    let yuanhunzhuList = item.yuanhunzhuStr.split(';');
                                    if(yuanhunzhuList.length > 1) {
                                        yuanhunzhuList.splice(yuanhunzhuList.length - 1, 1);
                                    }
                                    item.yuanhunzhuList = yuanhunzhuList;
                                }
                            });
                            this.tableData = res.data.Value.fulist;
                        }
                    }
                });
            });

			
        },
        openDetail(e, item) {
            this.chooseItem = item;
            this.showItemDetail = true;
        },
        openHero(e) {
            location.href = 'http://bang.tx3.163.com/bang/search#name='+ this.chooseItem.equip_name +'&school='+ this.chooseItem.school +'&level=' + this.chooseItem.equip_level;
        },
        openCbg(e) {
            location.href = 'http://tx3.cbg.163.com/cgi-bin/equipquery.py?act=overall_search_show_detail&serverid='+ this.chooseItem.serverid +'&equip_id='+ this.chooseItem.equipid +''
        }
    },
    watch: {
        isRefresh() {
            if (this.isRefresh) {
                this.search().then(() => {
                    this.$toast('刷新成功');
                    this.isRefresh = false;
                })
            }
        }
    }
}
</script>

