<template>
<div>
	<div class="header">
      <div class="header-main">
          <div class="left-icon" @click="routeGoHeader($event)">
              <span class="left-title">天下三Just Do It</span>
              <i>2.0</i>
          </div>
          <div class="right-con">
              <div class="right-item-con">
                  <div class="header-item" @click="routeGo($event, 'cbg')">
                      <a target="_blank" href="http://txstack.com/cbg">天下客栈</a>
                  </div>
                  <div class="header-item" @click="routeGo($event, 'gm')">
                      <a target="_blank" href="http://tx3.zhuyux.com/Demo/Tx3XXMNQ">玄修模拟器</a>
                  </div>
              </div>
          </div>
          <div class="login-content">
            <i-button type="info" @click="loginModal($event)">登录</i-button>
            <i-button type="success" @click="registModal($event)">注册</i-button>
          </div>
          <div class="qr-code-box">
            <Icon type="chatbubbles code"></Icon>
            <div class="qr-code-con">
              <img src="../../../src/assets/qrCode.jpg">
            </div>
          </div>
      </div>
    </div>
	<Row class="main-body" type="flex" >
		<Sider collapsible :collapsed-width="78" v-model="isCollapsed">
			<Menu :active-name="chooseRoute" theme="dark" width="auto" :class="menuitemClasses">
				<MenuItem name="hero" @click.native="routerGo($event, 'hero')">
					<Icon type="ribbon-b"></Icon>
					<span>英雄榜</span>
				</MenuItem>
				<MenuItem name="cbg" @click.native="routerGo($event, 'cbg')">
					<Icon type="social-usd"></Icon>
					<span>CBG搜索</span>
				</MenuItem>
				<MenuItem name="zf" @click.native="routerGo($event, 'zf')">
					<Icon type="plane"></Icon>
					<span>转服查询</span>
				</MenuItem>
				<MenuItem name="hh" @click.native="routerGo($event, 'hh')">
					<Icon type="social-tux"></Icon>
					<span>幻化排行</span>
				</MenuItem>
				<MenuItem name="gm" @click.native="routerGo($event, 'gm')">
					<Icon type="paintbrush"></Icon>
					<span>改名查询</span>
				</MenuItem>
				<MenuItem name="szzq" @click.native="routerGo($event, 'szzq')">
					<Icon type="android-bicycle"></Icon>
					<span>时装坐骑</span>
				</MenuItem>
			</Menu>
		</Sider>
		<Layout>
			<Content class="main-child-card">
				<Card class="main-child-router-card">
					<router-view class="main-child-view"/>
				</Card>
			</Content>
		</Layout>
	</Row>
</div>
</template>
<script>
import signinModal from '../../components/modal/signinModal'
import signupModal from '../../components/modal/signUpModal'
import bowser from 'bowser'
export default {
	data () {
		return {
			isCollapsed: false,
			chooseRoute: 'hreo',
			siModal: false,
			suModal: false
		};
	},
	created(){
		if(bowser.mobile) {
			this.$router.push('phone');
		}
		else {
			this.chooseRoute = this.$route.name;
		}
	},
	methods: {
		routerGo(e, type) {
			this.$router.push(type);
		},
		loginModal(e){
			this.siModal = true
		},
		registModal(e){
			this.suModal = true
		},
		routeGoHeader(e, type) {
			this.$router.push({ path: '/'  });
		}
	},
	computed: {
		menuitemClasses: function () {
			return [
				'menu-item',
				this.isCollapsed ? 'collapsed-menu' : ''
			]
		}
	},
	components: {
		signinModal,
		signupModal
	},
	watch: {
		$route(){
			if(bowser.mobile) {
				this.$router.push('phone');
			}
		}
	}
}
</script>
<style scoped>
    .layout-con{
        height: 100%;
        width: 100%;
    }
    .menu-item span{
        display: inline-block;
        overflow: hidden;
        width: 69px;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: bottom;
        transition: width .2s ease .2s;
    }
    .menu-item i{
        transform: translateX(0px);
        transition: font-size .2s ease, transform .2s ease;
        vertical-align: middle;
        font-size: 16px;
    }
    .collapsed-menu span{
        width: 0px;
        transition: width .2s ease;
    }
    .collapsed-menu i{
        transform: translateX(5px);
        transition: font-size .2s ease .2s, transform .2s ease .2s;
        vertical-align: middle;
        font-size: 22px;
    }
</style>