<template>
    <div class="p-hh-main">
        <van-nav-bar
            title="幻化榜查询"
            left-text="返回"
            left-arrow
            @click-left="onClickLeft()">
            <van-icon @click="showSearch = !showSearch" name="search" slot="right" />
        </van-nav-bar>
        <div class="p-hh-body">
            <van-popup class="p-hh-search" v-model="showSearch" position="right">
                <van-nav-bar
                    title="英雄榜搜索条件"
                    left-text="返回"
                    left-arrow
                    @click-left="closeSearch()">
                    <van-icon @click="searchHH()" name="search" slot="right" />
                </van-nav-bar>
                <div class="p-hh-search-body">
                    <van-cell-group>
                        <van-cell title="服务器" :required="true" @click="showYXQselect = !showYXQselect" :value="chooseYXQ.text" is-link />
                        <van-field label="势力名称" type="number" v-model="ShiliText" placeholder="请输入势力名称" />
                    </van-cell-group>
                </div>
                <van-actionsheet v-model="showYXQselect" >
                    <van-tree-select
                        :items="yxqData"
                        :main-active-index="mainActiveIndex"
                        :active-id="activeId"
                        @navclick="onNavClick"
                        @itemclick="onItemClick"
                    />
                </van-actionsheet>
            </van-popup>
            <van-pull-refresh class="p-result-body" v-model="isRefresh">
                <ul class="p-hh-con">
                    <li class="p-hh-con-li" v-for="(item, index) in tableData" :key="index">
                        <div class="p-hh-item-head">
                            <span class="title">势力：</span>
                            <span class="shili-name">{{item.ShiLi}}</span>
                            <div class="rate" :class="{'rate-1': index === 0, 'rate-2': index === 1, 'rate-3': index ===2}" v-show="index < 3"></div>
                            <div class="rate-number" v-show="index > 2">
                                {{index + 1}}
                            </div>
                        </div>
                        <div class="p-hh-yh-item">
                            <span>毒狼鬼：</span>
                            <span>{{item.Gui}}</span>
                            <span>喜洋羊：</span>
                            <span>{{item.Yang}}</span>
                        </div>
                        <div class="p-hh-yh-item">
                            <span>马王爷：</span>
                            <span>{{item.Ma}}</span>
                            <span>万圣天尊：</span>
                            <span>{{item.Hou}}</span>
                        </div>
                        <div class="p-hh-mp-item">
                            <span>荒火：</span>
                            <span>{{item.HH}}</span>
                            <span>天机：</span>
                            <span>{{item.TJ}}</span>
                            <span>羽毛：</span>
                            <span>{{item.YM}}</span>
                        </div>
                        <div class="p-hh-mp-item">
                            <span>魍魉：</span>
                            <span>{{item.WL}}</span>
                            <span>太虚：</span>
                            <span>{{item.TX}}</span>
                            <span>云麓：</span>
                            <span>{{item.YL}}</span>
                        </div>
                        <div class="p-hh-mp-item">
                            <span>冰心：</span>
                            <span>{{item.BX}}</span>
                            <span>弈剑：</span>
                            <span>{{item.YJ}}</span>
                            <span>鬼墨：</span>
                            <span>{{item.GM}}</span>
                        </div>
                        <div class="p-hh-mp-item">
                            <span>龙巫：</span>
                            <span>{{item.LW}}</span>
                            <span>幽篁：</span>
                            <span>{{item.YH}}</span>
                        </div>
                        <div class="p-hh-yh-item">
                            <span>总元魂珠数：</span>
                            <span>{{item.Snum}}</span>
                            <span>总人数：</span>
                            <span>{{item.SumRen}}</span>
                        </div>
                    </li>
                </ul>
                <div class="loading-more-box" @click="loadingMoreList($event)" v-if="tableData.length < total">
                    <van-loading class="loading-box" v-show="isLodingList" type="spinner" color="black" />
                    <span v-show="!isLodingList" >加载更多</span>   
                </div>
            </van-pull-refresh>
        </div>
    </div>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
export default {
    data() {
        return {
            page: 1,
            showSearch: false,
            showHHselect: false,
            showYXQselect: false,
            isRefresh: false,
            mainActiveIndex: 0,
            activeId: 1001,
            isLodingList: false,
            total: 0,
            tableData: [],
            chooseYXQ: {	
                text: '全部大区-全部大区'
            },
            ShiliText: '',
            yxqData: [       
                {	
                    text: '全部大区',
                    children: [
                        {
                            text: '全部大区',
                            id: 1001
                        }
                    ]
                },
                {	
                    text: '上海区',
                    children: [
                        {
                            text: '东方明珠',
                            id: 1101
                        }
                    ]
                },
                {
                    text: '傲世华夏',
                    children: [
                        {
                            text: '君临天下',
                            id: 1201,
                        },
                        {
                            text: '天生王者',
                            id: 1202,
                        },
                        {
                            text: '幻龙诀',
                            id: 1203,
                        },
                        {
                            text: '气壮山河',
                            id: 1204,
                        }
                    ]
                },
                {
                    text: '北京区',
                    children: [
                        {
                            text: '紫禁之巅',
                            id: 1301,
                        }
                    ]
                },
                {
                    text: '启天之路',
                    children: [
                        {
                            text: '一笑倾城',
                            id: 1401
                        },
                        {
                            text: '剑啸昆仑',
                            id: 1402,
                        },
                        {
                            text: '煮酒听雨',
                            id: 1403,
                        },
                        {
                            text: '物换星移',
                            id: 1404,
                        },
                        {
                            text: '秋月鎏光',
                            id: 1405,
                        },
                        {
                            text: '筑梦华夏',
                            id: 1406,
                        },
                        {
                            text: '雪舞倾城',
                            id: 1407,
                        }
                    ]
                },
                {
                    text: '四川区',
                    children: [
                        {
                            text: '天府之国',
                            id: 1501,
                        }
                    ]
                },
                {
                    text: '国风盛世',
                    children: [
                        {
                            text: '墨倾天下',
                            id: 1601,
                        },
                        {
                            text: '碧海青天',
                            id: 1602,
                        },
                        {
                            text: '笑看风云',
                            id: 1603,
                        },
                        {
                            text: '逍遥三界',
                            id: 1604,
                        }
                    ]
                },
                {
                    text: '天下一统',
                    children: [
                        {
                            text: '天下无双',
                            id: 1701,
                        },
                        {
                            text: '情动大荒',
                            id: 1702,
                        },
                        {
                            text: '昆仑变',
                            id: 1703,
                        },
                        {
                            text: '烟花三月',
                            id: 1704,
                        },
                        {
                            text: '琉璃月',
                            id: 1705,
                        },
                        {
                            text: '纵横四海',
                            id: 1706,
                        },
                        {
                            text: '飞鸿踏雪',
                            id: 1707,
                        }
                    ]
                },
                {
                    text: '山东区',
                    children: [
                        {
                            text: '齐鲁天下',
                            id: 1801
                        }
                    ]
                },
                {
                    text: '广东区',
                    children: [
                        {
                            text: '剑舞香江',
                            id: 1901
                        },
                        {
                            text: '白云山',
                            id: 1902
                        }
                    ]
                },
                {
                    text: '江苏区',
                    children: [
                        {
                            text: '瘦西湖',
                            id: 2001
                        }
                    ]
                },
                {
                    text: '河南区',
                    children: [
                        {
                            text: '逐鹿中原',
                            id: 2101
                        }
                    ]
                },
                {
                    text: '浙江区',
                    children: [
                        {
                            text: '烟雨江南',
                            id: 2201
                        }
                    ]
                },
                {
                    text: '湖北区',
                    children: [
                        {
                            text: '黄鹤楼',
                            id: 2301
                        }
                    ]
                },
                {
                    text: '湖南区',
                    children: [
                        {
                            text: '洞庭湖',
                            id: 2401
                        }
                    ]
                },
                {
                    text: '福建区',
                    children: [
                        {
                            text: '武夷九曲',
                            id: 2501
                        }
                    ]
                },
                {
                    text: '荣耀大荒',
                    children: [
                        {
                            text: '上善若水',
                            id: 2601
                        },
                        {
                            text: '飞龙在天',
                            id: 2602
                        }
                    ]
                },
                {
                    text: '辽宁区',
                    children: [
                        {
                            text: '烽火关东',
                            id: 2701
                        }
                    ]
                },
                {
                    text: '陕西区',
                    children: [
                        {
                            text: '盛世长安',
                            id: 2801
                        }
                    ]
                },
            ],
        }
    },
    created() {
        this.search();
    },
    methods: {
        search() {
            return new Promise((resolve, reject) => {
                const putData = {};

                putData.PageIndex = this.page;
                putData.shili = this.ShiliText;
                putData.youxiqu = (!this.chooseYXQ.text || this.chooseYXQ.text === '全部大区-全部大区')?(''):(this.chooseYXQ.text.split('-')[1]);
                this.$Spin.show();

                http.post('/Demo/GetYHZJson', qs.stringify(putData)).then((res) => {
                    resolve();
                    this.$Spin.hide();
                    if(res.status === 200) {
                        if(res.data.Success) {
                            res.data.Value.List.forEach((item, index) => {
                                item.index = index + 1 + (20 * (this.page - 1));
                            })
                            this.tableData = this.tableData.concat(res.data.Value.List);
                            this.total = res.data.Value.PageCount * 20;
                            this.page++;
                            this.isLodingList = false;
                        }
                    }
                });
            });
        },
        onClickLeft() {
            this.$router.push('search');
        },
        closeSearch() {
            this.showSearch = false;
        },
        onNavClick(index) {
            this.mainActiveIndex = index;
        },
        onItemClick(data) {
            this.activeId = data.id;
            this.chooseYXQ.text = `${this.yxqData[this.mainActiveIndex].text}-${data.text}`;
        },
        searchHH() {
            this.page = 1;
            this.tableData = [];
            this.search();
            this.showSearch = false;
        },
        loadingMoreList() {
            this.isLodingList = true;
            this.search();
        }
    },
    watch: {
        isRefresh() {
            if (this.isRefresh) {
                this.search().then(() => {
                    this.$toast('刷新成功');
                    this.isRefresh = false;
                })
            }
        }
    }
}
</script>