<template>
    <div class="p-zf-main">
        <div class="p-zf-header">
            <van-nav-bar
                title="转服查询"
                left-text="返回"
                left-arrow
                @click-left="onClickLeft()">
                <van-icon @click="showSearch = !showSearch" name="search" slot="right" />
            </van-nav-bar>
        </div>
        <div class="p-zf-body">
            <van-popup class="p-zf-search" v-model="showSearch" position="right">
                <van-nav-bar
                    title="转服搜索条件"
                    left-text="返回"
                    left-arrow
                    @click-left="closeSearch()">
                    <van-icon @click="searchZF()" name="search" slot="right" />
                </van-nav-bar>
                <div class="p-hero-search-body">
                    <van-cell-group>
                        <van-cell title="转入/转出" :required="true" @click="showZCselect = !showZCselect" :value="chooseZc.text" is-link />
                        <van-cell title="时间" :required="true" @click="showSJselect = !showSJselect" :value="chooseSj.text" is-link />
                        <van-cell title="服务器" :required="true" @click="showYXQselect = !showYXQselect" :value="chooseYXQ.text" is-link />
                        <van-field label="所在势力" type="number" v-model="ShiliText" placeholder="请输入势力名称" />
                    </van-cell-group>
                </div>
                <van-actionsheet v-model="showZCselect" >
                    <van-picker
                        show-toolbar
                        title="转入/转出"
                        :columns="ZCData"
                        @cancel="onCancelZC"
                        @confirm="onConfirmZC"
                    />
                </van-actionsheet>
                <van-actionsheet v-model="showYXQselect" >
                    <van-tree-select
                        :items="yxqData"
                        :main-active-index="mainActiveIndex"
                        :active-id="activeId"
                        @navclick="onNavClick"
                        @itemclick="onItemClick"
                    />
                </van-actionsheet>
                <van-actionsheet v-model="showSJselect" >
                    <van-picker
                        show-toolbar
                        title="时间"
                        :columns="SJData"
                        @cancel="onCancelSj"
                        @confirm="onConfirmSj"
                    />
                </van-actionsheet>
            </van-popup>
            <van-pull-refresh class="p-result-body" v-model="isRefresh">
                <ul class="p-zf-con">
                    <li class="p-zf-con-li" v-for="(item, index) in tableData" :key="index">
                        <div class="p-zf-item-head">
                            <span>{{'Lv. ' + item.NewDengJi}}</span>
                            <span>{{item.MenPaiName}}</span>
                        </div>
                        <div class="p-zf-li-q">
                            <div class="p-zf-item">
                                <span>新昵称:</span>
                                <span class="new-name">{{item.NewName}}</span>
                                <span>新势力:</span>
                                <span class="new-shili">{{item.NewShiLi}}</span>
                            </div>
                            <div class="p-zf-item">
                                <span>服务器:</span>
                                <span class="all-span new-fwq">{{`${item.NewFWQ}-${item.NewYXQ}`}}</span>
                            </div>
                            <div class="p-zf-item">
                                <span class="long-title">更新时间:</span>
                                <span class="all-span">{{momentData(item.NewCreateTime)}}</span>
                            </div>
                        </div>
                        <div class="p-zf-li-h">
                            <div class="p-zf-item">
                                <span>原昵称:</span>
                                <span class="old-name">{{item.Name}}</span>
                                <span>原势力:</span>
                                <span class="old-shili">{{item.ShiLi || '无'}}</span>
                            </div>
                            <div class="p-zf-item">
                                <span>服务器:</span>
                                <span class="all-span old-fwq">{{`${item.FWQ}-${item.YXQ}`}}</span>
                            </div>
                            <div class="p-zf-item">
                                <span class="long-title">更新时间:</span>
                                <span class="all-span">{{momentData(item.CreateTime)}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="loading-more-box" @click="loadingMoreList($event)" v-if="tableData.length < total">
                    <van-loading class="loading-box" v-show="isLodingList" type="spinner" color="black" />
                    <span v-show="!isLodingList" >加载更多</span>   
                </div>
            </van-pull-refresh>
        </div>
    </div>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
export default {
    data() {
        return {
            page: 1,
            showSearch: false,
            showZCselect: false,
            showSJselect: false,
            showYXQselect: false,
            isLodingList: false,
            activeId: 1001,
            isRefresh: false,
            total: 0,
            tableData: [],
            mpData: ['', '荒火', '天机', '羽毛', '魍魉', '太虚', '云麓', '冰心', '弈剑', '鬼墨', '龙巫', '幽篁'],
            chooseZc: {
                text: '转出',
                id: 1
            },
            chooseSj: {
                text: '全部'
            },
            chooseYXQ: {	
                text: '全部大区-全部大区'
            },
            mainActiveIndex: 0,
            ShiliText: '',
            yxqData: [       
                {	
                    text: '全部大区',
                    children: [
                        {
                            text: '全部大区',
                            id: 1001
                        }
                    ]
                },
                {	
                    text: '上海区',
                    children: [
                        {
                            text: '东方明珠',
                            id: 1101
                        }
                    ]
                },
                {
                    text: '傲世华夏',
                    children: [
                        {
                            text: '君临天下',
                            id: 1201,
                        },
                        {
                            text: '天生王者',
                            id: 1202,
                        },
                        {
                            text: '幻龙诀',
                            id: 1203,
                        },
                        {
                            text: '气壮山河',
                            id: 1204,
                        }
                    ]
                },
                {
                    text: '北京区',
                    children: [
                        {
                            text: '紫禁之巅',
                            id: 1301,
                        }
                    ]
                },
                {
                    text: '启天之路',
                    children: [
                        {
                            text: '一笑倾城',
                            id: 1401
                        },
                        {
                            text: '剑啸昆仑',
                            id: 1402,
                        },
                        {
                            text: '煮酒听雨',
                            id: 1403,
                        },
                        {
                            text: '物换星移',
                            id: 1404,
                        },
                        {
                            text: '秋月鎏光',
                            id: 1405,
                        },
                        {
                            text: '筑梦华夏',
                            id: 1406,
                        },
                        {
                            text: '雪舞倾城',
                            id: 1407,
                        }
                    ]
                },
                {
                    text: '四川区',
                    children: [
                        {
                            text: '天府之国',
                            id: 1501,
                        }
                    ]
                },
                {
                    text: '国风盛世',
                    children: [
                        {
                            text: '墨倾天下',
                            id: 1601,
                        },
                        {
                            text: '碧海青天',
                            id: 1602,
                        },
                        {
                            text: '笑看风云',
                            id: 1603,
                        },
                        {
                            text: '逍遥三界',
                            id: 1604,
                        }
                    ]
                },
                {
                    text: '天下一统',
                    children: [
                        {
                            text: '天下无双',
                            id: 1701,
                        },
                        {
                            text: '情动大荒',
                            id: 1702,
                        },
                        {
                            text: '昆仑变',
                            id: 1703,
                        },
                        {
                            text: '烟花三月',
                            id: 1704,
                        },
                        {
                            text: '琉璃月',
                            id: 1705,
                        },
                        {
                            text: '纵横四海',
                            id: 1706,
                        },
                        {
                            text: '飞鸿踏雪',
                            id: 1707,
                        }
                    ]
                },
                {
                    text: '山东区',
                    children: [
                        {
                            text: '齐鲁天下',
                            id: 1801
                        }
                    ]
                },
                {
                    text: '广东区',
                    children: [
                        {
                            text: '剑舞香江',
                            id: 1901
                        },
                        {
                            text: '白云山',
                            id: 1902
                        }
                    ]
                },
                {
                    text: '江苏区',
                    children: [
                        {
                            text: '瘦西湖',
                            id: 2001
                        }
                    ]
                },
                {
                    text: '河南区',
                    children: [
                        {
                            text: '逐鹿中原',
                            id: 2101
                        }
                    ]
                },
                {
                    text: '浙江区',
                    children: [
                        {
                            text: '烟雨江南',
                            id: 2201
                        }
                    ]
                },
                {
                    text: '湖北区',
                    children: [
                        {
                            text: '黄鹤楼',
                            id: 2301
                        }
                    ]
                },
                {
                    text: '湖南区',
                    children: [
                        {
                            text: '洞庭湖',
                            id: 2401
                        }
                    ]
                },
                {
                    text: '福建区',
                    children: [
                        {
                            text: '武夷九曲',
                            id: 2501
                        }
                    ]
                },
                {
                    text: '荣耀大荒',
                    children: [
                        {
                            text: '上善若水',
                            id: 2601
                        },
                        {
                            text: '飞龙在天',
                            id: 2602
                        }
                    ]
                },
                {
                    text: '辽宁区',
                    children: [
                        {
                            text: '烽火关东',
                            id: 2701
                        }
                    ]
                },
                {
                    text: '陕西区',
                    children: [
                        {
                            text: '盛世长安',
                            id: 2801
                        }
                    ]
                },
            ],
            ZCData: [
                {
                    text: '转出',
                    id: 1
                },
                {
                    text: '转入',
                    id: 2
                }
            ],
            SJData: [
                {
                    text: '全部'
                },
                {
                    text: '一周内',
                    id: 7
                },
                {
                    text: '一个月内',
                    id: 31
                },
                {
                    text: '三个月内',
                    id: 99
                }
            ]
        }
    },
    created() {
        this.search();
    },
    methods: {
        onClickLeft() {
            this.$router.push('search');
        },
        closeSearch() {
            this.showSearch = false;
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
		},
        onCancelZC() {
            this.showZCselect = false;
        },
        search() {
            const putData = {};
            this.$Spin.show();

            return  new Promise((resolve, reject) => {
                putData.shijian = this.chooseSj.id;
                putData.youxiqu = (!this.chooseYXQ.text || this.chooseYXQ.text === '全部大区-全部大区')?(''):(this.chooseYXQ.text.split('-')[1]);
                putData.PageIndex = this.page;
                putData.shili = this.ShiliText;
                putData.type = 1;
                putData.zftype = this.chooseZc.id;

                http.post('/Demo/GetZFList', qs.stringify(putData)).then((res) => {
                    this.$Spin.hide();
                    resolve();
                    if(res.status === 200) {
                        if(res.data.Success) {
                            res.data.Value.List.forEach((item, index) => {
                                item.index = index + 1 + (20 * (this.page - 1));
                            })
                            this.tableData = this.tableData.concat(res.data.Value.List);
                            this.total = res.data.Value.PageCount * 20;
                            this.page++;
                            this.isLodingList = false;
                        }
                    }
                });
            });
        },
        onConfirmZC(value, index) {
            this.chooseZc = value;
            this.showZCselect = false;
        },
        onNavClick(index) {
            this.mainActiveIndex = index;
        },
        onItemClick(data) {
            this.activeId = data.id;
            this.chooseYXQ.text = `${this.yxqData[this.mainActiveIndex].text}-${data.text}`;
        },
        onConfirmSj(value, index) {
            this.chooseSj = value;
            this.showSJselect = false;
        },
        onCancelSj() {
            this.showSJselect = false;
        },
        searchZF() {
            this.page = 1;
            this.tableData = [];
            this.showSearch = false;
            this.search();
        },
        loadingMoreList() {
            this.isLodingList = true;
            this.search();
        }
    }
}
</script>

