<template>
<div class="p-main-main">
    <div class="p-main-body">
        <transition :name="transitionName">
            <router-view></router-view>
        </transition>
    </div>
    <div class="p-main-footer">
        <van-tabbar v-model="choose" @change="changeTab()">
            <van-tabbar-item icon="search">查询</van-tabbar-item>
            <van-tabbar-item icon="shop">商城</van-tabbar-item>
            <van-tabbar-item icon="balance-details">悬赏</van-tabbar-item>
            <van-tabbar-item icon="contact">我的</van-tabbar-item>
        </van-tabbar>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            choose: 0,
            transitionName: 'slide-right',
            routeMap: ['search', 'shop', 'reward', 'account']
        }
    },
    methods: {
        changeTab(){
            this.$router.push(this.routeMap[this.choose])
        }
    },
    watch: {
        $route(to, from) {
            switch(this.$route.name) {
                case 'p_search' || 'hero' || 'gm' || 'hh' || 'zf' || 'cbg':
                    this.choose = 0;
                    break;
                case 'p_shop':
                    this.choose = 1;
                    break;
                case 'p_reward':
                    this.choose = 2;
                    break;
                case 'p_account':
                    this.choose = 3;
                    break;
            }
            const toDepth = to.path.split('/').length
            const fromDepth = from.path.split('/').length
            this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
        }
    }
}
</script>