<template>
    <div class="p-hero-main">
        <div class="p-hero-header">
            <van-nav-bar
                title="英雄榜查询"
                left-text="返回"
                left-arrow
                @click-left="onClickLeft()">
                <van-icon @click="showSearch = !showSearch" name="search" slot="right" />
            </van-nav-bar>
        </div>
        <div class="p-hero-body">
            <van-popup class="p-hero-search" v-model="showSearch" position="right">
                <van-nav-bar
                    title="英雄榜搜索条件"
                    left-text="返回"
                    left-arrow
                    @click-left="closeSearch()">
                    <van-icon @click="searchYXB()" name="search" slot="right" />
                </van-nav-bar>
                <div class="p-hero-search-body">
                    <van-cell-group>
                        <van-cell title="门派" :required="true" @click="showMpselect = !showMpselect" :value="chooseMp.text" is-link />
                        <van-cell title="等级段" :required="true" @click="showDJselect = !showDJselect" :value="chooseDj.text" is-link />
                        <van-cell title="服务器" :required="true" @click="showYXQselect = !showYXQselect" :value="chooseYXQ.text" is-link />
                        <van-field label="所在势力" type="number" v-model="ShiliText" placeholder="请输入势力名称" />
                    </van-cell-group>
                </div>
                <van-actionsheet v-model="showMpselect" >
                    <van-picker
                        show-toolbar
                        title="门派"
                        :columns="mpData"
                        @cancel="onCancelMp"
                        @confirm="onConfirmMp"
                    />
                </van-actionsheet>
                <van-actionsheet v-model="showYXQselect" >
                    <van-tree-select
                        :items="yxqData"
                        :main-active-index="mainActiveIndex"
                        :active-id="activeId"
                        @navclick="onNavClick"
                        @itemclick="onItemClick"
                    />
                </van-actionsheet>
                <van-actionsheet v-model="showDJselect" >
                    <van-picker
                        show-toolbar
                        title="等级段"
                        :columns="DJData"
                        @cancel="onCancelDj"
                        @confirm="onConfirmDj"
                    />
                </van-actionsheet>
            </van-popup>
            <van-popup class="p-hero-detail-main" v-model="showHeroDetail" position="bottom">
                <van-nav-bar
                    :title="`${chooseRole.Name}的英雄榜`"
                    left-text="返回"
                    left-arrow
                    @click-left="closeHeroModal"
                />
                <div class="hero-box">
                    <iframe :src="`http://bang.tx3.163.com/bang/role/${chooseRole.RoleId}`" frameborder="0"></iframe>
                </div>
            </van-popup>
            <van-pull-refresh class="p-result-body" v-model="isRefresh">
                <van-card
                    v-for="(item, index) in tableData"
                    :key="index">
                    <div class="img-box" slot="thumb">
                        <img class="img-img" :src="`http://res.tx3.cbg.163.com/images/role/smallface/${item.MengPai}1.jpg`" alt="">
                        <van-tag type="danger">{{'lv. ' + item.DengJi}}</van-tag>
                    </div>
                    <div slot="title">
                        <div class="title-box">
                            <span class="title-fwq">{{`${item.FWQ}-${item.YXQ}`}}</span>
                            <van-tag type="primary" class="title-name">{{`${item.Name}`}}</van-tag>
                        </div>  
                    </div>
                    <div slot="desc">
                        <div class="item-box">
                            <div class="item">
                                <span>{{`装评: ${item.ZhuangPing}`}}</span>
                            </div>
                            <div class="item">
                                <span>{{`修为: ${item.XiuWei}`}}</span>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="item">
                                <span>{{`所属势力: ${item.ShiLi}`}}</span>
                            </div>
                        </div>
                        <div class="item-box">
                            <div class="item">
                                <span>{{`剩余时间: ${momentData(item.CreateTime)}`}}</span>
                            </div>
                        </div>
                    </div>
                    <div slot="footer">
                        <div class="op-box">
                            <div class="item-icon" @click="openDetail($event, item)">
                                <van-icon name="arrow" />
                            </div>
                        </div>
                    </div>
                </van-card>
                <div class="loading-more-box" @click="loadingMoreList($event)" v-if="tableData.length < total">
                    <van-loading class="loading-box" v-show="isLodingList" type="spinner" color="black" />
                    <span v-show="!isLodingList" >加载更多</span>   
                </div>
            </van-pull-refresh>
        </div>
    </div>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
export default {
    data(){
        return {
            page: 1,
            showSearch: false,
            showMpselect: false,
            showYXQselect: false,
            showDJselect: false,
            showHeroDetail: false,
            isLodingList: false,
            activeId: 1001,
            isRefresh: false,
            total: 0,
            chooseRole: {},
            tableData: [],
            chooseYXQ: {	
                text: '全部大区-全部大区'
            },
            chooseDj: { 
                text: '全部'
            },
            mainActiveIndex: 0,
            ShiliText: '',
            mpData: [
                {
                    text: '全部',
                    src: 'hh',
                    choosed: false
                },
                {
                    text: '荒火',
                    src: 'hh',
                    choosed: false
                },
                {
                    text: '天机',
                    src: 'tj',
                    choosed: false
                },
                {
                    text: '羽毛',
                    src: 'ym',
                    choosed: false
                },
                {
                    text: '魍魉',
                    src: 'wl',
                    choosed: false
                },
                {
                    text: '太虚',
                    src: 'tx',
                    choosed: false
                },
                {
                    text: '云麓',
                    src: 'yl',
                    choosed: false
                },
                {
                    text: '冰心',
                    src: 'bx',
                    choosed: false
                },
                {
                    text: '弈剑',
                    src: 'yj',
                    choosed: false
                },
                {
                    text: '鬼墨',
                    src: 'gm',
                    choosed: false
                },
                {
                    text: '龙巫',
                    src: 'lw',
                    choosed: false
                },
                {
                    text: '幽篁',
                    src: 'yh',
                    choosed: false
                }
            ],
            yxqData: [       
                {	
                    text: '全部大区',
                    children: [
                        {
                            text: '全部大区',
                            id: 1001
                        }
                    ]
                },
                {	
                    text: '上海区',
                    children: [
                        {
                            text: '东方明珠',
                            id: 1101
                        }
                    ]
                },
                {
                    text: '傲世华夏',
                    children: [
                        {
                            text: '君临天下',
                            id: 1201,
                        },
                        {
                            text: '天生王者',
                            id: 1202,
                        },
                        {
                            text: '幻龙诀',
                            id: 1203,
                        },
                        {
                            text: '气壮山河',
                            id: 1204,
                        }
                    ]
                },
                {
                    text: '北京区',
                    children: [
                        {
                            text: '紫禁之巅',
                            id: 1301,
                        }
                    ]
                },
                {
                    text: '启天之路',
                    children: [
                        {
                            text: '一笑倾城',
                            id: 1401
                        },
                        {
                            text: '剑啸昆仑',
                            id: 1402,
                        },
                        {
                            text: '煮酒听雨',
                            id: 1403,
                        },
                        {
                            text: '物换星移',
                            id: 1404,
                        },
                        {
                            text: '秋月鎏光',
                            id: 1405,
                        },
                        {
                            text: '筑梦华夏',
                            id: 1406,
                        },
                        {
                            text: '雪舞倾城',
                            id: 1407,
                        }
                    ]
                },
                {
                    text: '四川区',
                    children: [
                        {
                            text: '天府之国',
                            id: 1501,
                        }
                    ]
                },
                {
                    text: '国风盛世',
                    children: [
                        {
                            text: '墨倾天下',
                            id: 1601,
                        },
                        {
                            text: '碧海青天',
                            id: 1602,
                        },
                        {
                            text: '笑看风云',
                            id: 1603,
                        },
                        {
                            text: '逍遥三界',
                            id: 1604,
                        }
                    ]
                },
                {
                    text: '天下一统',
                    children: [
                        {
                            text: '天下无双',
                            id: 1701,
                        },
                        {
                            text: '情动大荒',
                            id: 1702,
                        },
                        {
                            text: '昆仑变',
                            id: 1703,
                        },
                        {
                            text: '烟花三月',
                            id: 1704,
                        },
                        {
                            text: '琉璃月',
                            id: 1705,
                        },
                        {
                            text: '纵横四海',
                            id: 1706,
                        },
                        {
                            text: '飞鸿踏雪',
                            id: 1707,
                        }
                    ]
                },
                {
                    text: '山东区',
                    children: [
                        {
                            text: '齐鲁天下',
                            id: 1801
                        }
                    ]
                },
                {
                    text: '广东区',
                    children: [
                        {
                            text: '剑舞香江',
                            id: 1901
                        },
                        {
                            text: '白云山',
                            id: 1902
                        }
                    ]
                },
                {
                    text: '江苏区',
                    children: [
                        {
                            text: '瘦西湖',
                            id: 2001
                        }
                    ]
                },
                {
                    text: '河南区',
                    children: [
                        {
                            text: '逐鹿中原',
                            id: 2101
                        }
                    ]
                },
                {
                    text: '浙江区',
                    children: [
                        {
                            text: '烟雨江南',
                            id: 2201
                        }
                    ]
                },
                {
                    text: '湖北区',
                    children: [
                        {
                            text: '黄鹤楼',
                            id: 2301
                        }
                    ]
                },
                {
                    text: '湖南区',
                    children: [
                        {
                            text: '洞庭湖',
                            id: 2401
                        }
                    ]
                },
                {
                    text: '福建区',
                    children: [
                        {
                            text: '武夷九曲',
                            id: 2501
                        }
                    ]
                },
                {
                    text: '荣耀大荒',
                    children: [
                        {
                            text: '上善若水',
                            id: 2601
                        },
                        {
                            text: '飞龙在天',
                            id: 2602
                        }
                    ]
                },
                {
                    text: '辽宁区',
                    children: [
                        {
                            text: '烽火关东',
                            id: 2701
                        }
                    ]
                },
                {
                    text: '陕西区',
                    children: [
                        {
                            text: '盛世长安',
                            id: 2801
                        }
                    ]
                },
            ],
            DJData: [
                {
                    text: '全部'
                },
                {
                    text: '69',
                    id: 69
                },
                {
                    text: '74',
                    id: 74
                },
                {
                    text: '79',
                    id: 79
                },
                {
                    text: '80以及以上',
                    id: 80
                }
            ]
        }
    },
    created() {
        this.chooseMp = this.mpData[0];
        this.search();
    },
    methods: {
        onClickLeft() {
            this.$router.push('search');
        },
        onCancelMp() {
            this.showMpselect = false;
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
		},
        search() {
            const putData = {};
			let chooseMp = null;
            this.$Spin.show();

            return  new Promise((resolve, reject) => {
                this.mpData.forEach((item, index) => {
                    if(this.chooseMp.text === item.text) {
                        chooseMp = index;
                    }
                });
                putData.menpai = chooseMp;
                putData.DengJi = this.chooseDj.id;
                putData.shili = this.ShiliText;
                putData.pageIndex = this.page;
                putData.YXQ = (!this.chooseYXQ.text || this.chooseYXQ.text === '全部大区-全部大区')?(''):(this.chooseYXQ.text.split('-')[1]);

                http.post('/Demo/GetYXBJson', qs.stringify(putData)).then((res) => {
                    this.$Spin.hide();
                    resolve();
                    if(res.status === 200) {
                        if(res.data.Success) {
                            res.data.Value.List.forEach((item, index) => {
                                item.index = index + 1 + (20 * (this.page - 1));
                            })
                            this.tableData = this.tableData.concat(res.data.Value.List);
                            this.total = res.data.Value.PageCount * 20;
                            this.page++;
                            this.isLodingList = false;
                        }
                    }
                });
            });
        },
        closeSearch(){
            this.showSearch = false;
        },
        onConfirmMp(value, index) {
            this.chooseMp = value;
            this.showMpselect = false;
        },
        onNavClick(index) {
            this.mainActiveIndex = index;
        },
        onItemClick(data) {
            this.activeId = data.id;
            this.chooseYXQ.text = `${this.yxqData[this.mainActiveIndex].text}-${data.text}`;
        },
        onConfirmDj(value, index) {
            this.chooseDj = value;
            this.showDJselect = false;
        },
        onCancelDj() {
            this.showDJselect = false;
        },
        searchYXB() {
            this.page = 1;
            this.tableData = [];
            this.showSearch = false;
            this.search();
        },
        openDetail(e, item) {
            this.chooseRole = item;
            this.showHeroDetail = true;
        },
        closeHeroModal() {
            this.chooseRole = {};
            this.showHeroDetail = false;
        },
        loadingMoreList() {
            this.isLodingList = true;
            this.search();
        }
    },
    watch: {
        isRefresh() {
            if (this.isRefresh) {
                this.search().then(() => {
                    this.$toast('刷新成功');
                    this.isRefresh = false;
                })
            }
        }
    }
}
</script>