<template>
    <Modal class="watch-zp-modal" v-model="trigger" title="增加装评监控" width="300">
        <div class="wzm-header">
            <div class="title">监控邮箱</div>
            <Input v-model="email" placeholder="请输入邮箱地址" />
        </div>
        <div class="wzm-body">
            <span>说明:</span>
            <p>绑定邮箱:当检测到该角色装评发生变化的时候及时通知到邮箱</p>
            <p>主要目的:现在代练增多,号主不经常上线,当代练对角色装备有改动的时候及时通知号主!</p>
        </div>
        <div slot="footer" class="wzm-footer">
            <Button type="info" @click="bind()">绑定</Button>
        </div>
    </Modal>
</template>
<script>
export default {
    props: {	
        value: Boolean,
        roleId: String
    },
    watch: {
		value() {
            this.trigger = this.value;
		},
		trigger() {
			this.$emit('input', this.trigger);
		}
    },
    created() {
        this.trigger = this.value;
        
    },
    data() {
        return {
            trigger: false,
            email: null
        }
        
    },
    methods: {
        bind() {
            this.trigger = false;
            this.$Message.success('邮箱绑定成功');
        }
    }
}
</script>