<template>
  <Modal class="search-shili-report-modal" v-model="trigger" title="势力更换记录" width="600">
      <Spin size="large" fix v-if="spinShow"></Spin>
      <div class="search-tip">
          <span>说明：只能查询 2017-03-12 之后的数据</span>
      </div>
      <div class="search-body">
          <el-table 
                border
                :data="tableData"
                style="width: 100%">
                <el-table-column
                    prop="string"
                    align="center"
                    label="角色名">
                    <template slot-scope="scope">
                        <span>{{scope.row.EmailAddress}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="势力名称">
                    <template slot-scope="scope">
                        <span>{{scope.row.Remark}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="更新时间">
                    <template slot-scope="scope">
                        <span>{{momentData(scope.row.CreateTime)}}</span>
                    </template>
                </el-table-column>
          </el-table>
      </div>
      <div slot="footer" class="search-footer"></div>
  </Modal>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
export default {
    props: {	
        value: Boolean,
        roleId: String
    },
    data() {
        return {
            trigger: false,
            tableData: null,
            spinShow: false,
            searchData: {
                RoleId: null
            }
        }
    },
    watch: {
		value() {
            this.trigger = this.value;
            if(this.value) {
                this.spinShow = true;
                this.searchData = {
                    RoleId: this.roleId
                };
                this.initData();
            }
		},
		trigger() {
			this.$emit('input', this.trigger);
		}
    },
    created() {
        this.trigger = this.value;
    },
    methods: {
        initData() {
            http.post('/Demo/GetShiliJson', qs.stringify(this.searchData)).then((res) => {
                this.spinShow = false;
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.tableData = res.data.Value;
                    }
                }
            });
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
        }
    }
}
</script>
