<template>
    <Modal class="search-change-name-modal" v-model="trigger" title="查询改名/转服信息" width="1000">
        <Spin size="large" fix v-if="spinShow"></Spin>
        <div class="warn-tip">
            由于部分玩家要求屏蔽自己的信息,(测试屏蔽,并不是最终版本,我们原则上是不想有屏蔽系统,如果都屏蔽了也就失去存在的意义了!)
        </div>
        <div class="search-body">
            <el-table
                border
                :data="tableData"
                class="search-change-name-table"
                style="width: 100%">
                <el-table-column
                    prop="string"
                    align="center"
                    label="角色名">
                    <template slot-scope="scope">
                        <span>{{scope.row.Name}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="50"
                    label="门派">
                    <template slot-scope="scope">
                        <span>{{mpData[scope.row.MengPai]}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="50"
                    label="等级">
                    <template slot-scope="scope">
                        <span>{{scope.row.DengJi}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="服务器">
                    <template slot-scope="scope">
                        <span>{{scope.row.FWQ + '-' + scope.row.YXQ}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="120"
                    label="势力">
                    <template slot-scope="scope">
                        <span>{{scope.row.ShiLi}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="120"
                    label="状态">
                    <template slot-scope="scope">
                        <span>{{(scope.row.Status)?('最新的状态'):('上次的状态')}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="上次更新时间">
                    <template slot-scope="scope">
                        <span>{{momentData(scope.row.CreateTime)}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="50"
                    label="操作">
                    <template slot-scope="scope">
                        <Poptip content="查看英雄榜" trigger="hover" placement="left">
                            <Button type="primary" shape="circle" icon="ribbon-b" @click="openHero($event, scope.row)">
                            </Button>
                        </Poptip>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="search-footer" v-if="total > 20">
            <Page :total="total"
                size="small"
                :current.sync="searchData.PageIndex"
                :page-size="20"
                @on-change="changePage($event)"
                show-elevator></Page>
        </div>
        <div slot="footer" class="scmodal-footer">
        </div>
    </Modal>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
export default {
    props: {
        value: Boolean,
        roleId: String
    },
    data() {
        return {
            trigger: false,
            tableData: null,
            total: 0,
            spinShow: false,
            searchData: {
                RoleId: null,
                PageIndex: 1,
                kan: undefined
            },
            mpData: ['', '荒火', '天机', '羽毛', '魍魉', '太虚', '云麓', '冰心', '弈剑', '鬼墨', '龙巫', '幽篁']
        }
    },
    watch: {
		value() {
            this.trigger = this.value;
            if(this.value) {
                this.spinShow = true;
                this.searchData = {
                    RoleId: this.roleId,
                    PageIndex: 1,
                    kan: undefined
                };
                this.initData();
            }
		},
		trigger() {
			this.$emit('input', this.trigger);
		}
    },
    created() {
        this.trigger = this.value;
    },
    methods: {
        initData() {
            http.post('/Demo/GetGMJson', qs.stringify(this.searchData)).then((res) => {
                this.spinShow = false;
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.total = res.data.Value.PageCount;
                        this.tableData = res.data.Value.List;
                    }
                }
            });
        },
        changePage(){
            this.spinShow = true;
            this.initData();
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
        },
        openHero(e, item) {
            window.open('http://bang.tx3.163.com/bang/role/' + item.RoleId);
        }
    }
}
</script>
