<template>
    <Modal v-model="trigger" class="signin-modal-main" width="300" title="用户登录">
				<Input type="text" v-model="username" placeholder="请输入用户名">
					<Icon type="ios-person-outline" slot="prepend"></Icon>
				</Input>
				<br>
				<Input type="password" v-model="password" placeholder="请输入密码">
						<Icon type="ios-locked-outline" slot="prepend"></Icon>
				</Input>
				<br>
				<div slot="footer" class="signin-modal-footer">
					<Button type="primary" @click="login($event)">登录</Button>
					<Button type="ghost" @click="trigger = false">取消</Button>
				</div>
    </Modal>
</template>
<script>
export default {
	props: {	
		value: Boolean
	},
	created() {
		this.trigger = this.value;
	},
	data() {
		return {
			trigger: false,
			username: '',
			password: ''
		}
	},
	watch: {
		value() {
			this.trigger = this.value;
		},
		trigger() {
			this.$emit('input', this.trigger);
		}
	},
	methods: {
		login(e) {
			console.log(e)
		}
	}
}
</script>
