<template>
  <Modal class="signup-modal" v-model="trigger" title="用户注册" width="360">
    <Input type="text" v-model="username" placeholder="请输入用户名">
					<Icon type="ios-person-outline" slot="prepend"></Icon>
				</Input>
				<br>
				<Input type="password" v-model="password" placeholder="请输入密码">
						<Icon type="ios-locked-outline" slot="prepend"></Icon>
				</Input>
				<br>
        <Input type="password" v-model="tpassword" placeholder="请再次输入">
						<Icon type="ios-locked-outline" slot="prepend"></Icon>
				</Input>
				<br>
				<div slot="footer" class="signup-modal-footer">
					<Button type="primary" @click="regist($event)">注册</Button>
					<Button type="ghost" @click="trigger = false">取消</Button>
				</div>
  </Modal>
</template>
<script>
export default {
  props: {	
		value: Boolean
  },
  data() {
    return {
      trigger: false,
			username: '',
      password: '',
      tpassword: ''
    }
  },
  created() {
		this.trigger = this.value;
  },
  watch: {
		value() {
			this.trigger = this.value;
		},
		trigger() {
			this.$emit('input', this.trigger);
		}
  }

}
</script>
