<template>
<div class="phome-search-main">
    <van-row>
          <van-col span="24">
              <div class="phone-slider-img"></div>
              <div class="phone-slider-text">因为天下我们相聚在一起</div>
          </van-col>
      </van-row>
      <hr />
      <div class="phone-home-body">
          <van-row gutter="10">
            <van-col span="12">
                <div class="p-h-item" @click="routeGo('hh')">
                    <img src="../../../../assets/item1.jpg">
                    <div class="item-text">幻化排行榜</div>
                </div>
            </van-col>
            <van-col span="12">
                <div class="p-h-item" @click="routeGo('gm')">
                    <img src="../../../../assets/item2.jpg">
                    <div class="item-text">改名查询</div>
                </div>
            </van-col>
        </van-row>
        <van-row gutter="10">
            <van-col span="12">
                <div class="p-h-item" @click="routeGo('zf')">
                    <img src="../../../../assets/item3.jpg">
                    <div class="item-text">转服查询</div>
                </div>
            </van-col>
            <van-col span="12">
                <div class="p-h-item" @click="routeGo('cbg')">
                    <img src="../../../../assets/item4.jpg">
                    <div class="item-text">CBG查询</div>
                </div>
            </van-col>
        </van-row>
        <van-row>
            <van-col span="24">
                <div class="p-h-item" @click="routeGo('hero')">
                    <img src="../../../../assets/item5.jpg">
                    <div class="item-text">英雄榜查询</div>
                </div>
            </van-col>
        </van-row>
      </div>
</div>
</template>
<script>
import { mapState } from 'vuex'
export default {
    created(){
    },
    methods: {
        routeGo(type){
            this.$router.push(type);
        }
    },
    computed: {
        ...mapState('login', [
            'isLogin'
        ]),
    }
}
</script>
