<template>
<div>
	<div class="header">
      <div class="header-main">
          <div class="left-icon" @click="routeGoHeader($event)">
              <span class="left-title">天下三Just Do It</span>
              <i>2.0</i>
          </div>
          <div class="right-con">
              <div class="right-item-con">
                  <div class="header-item" @click="routeGo($event, 'cbg')">
                      <a target="_blank" href="http://txstack.com/cbg">天下客栈</a>
                  </div>
                  <div class="header-item" @click="routeGo($event, 'gm')">
                      <a target="_blank" href="http://tx3.zhuyux.com/Demo/Tx3XXMNQ">玄修模拟器</a>
                  </div>
              </div>
          </div>
          <div class="login-content">
            <i-button type="info" @click="loginModal($event)">登录</i-button>
            <i-button type="success" @click="registModal($event)">注册</i-button>
          </div>
          <div class="qr-code-box">
            <Icon type="chatbubbles code"></Icon>
            <div class="qr-code-con">
              <img src="../../../src/assets/qrCode.jpg">
            </div>
          </div>
      </div>
    </div>
	<div class="main-main jq_main" :class="{'animate-init': elementing}">
		<div class="slider-box">
			<div class="slider-img" ></div>
			<span class="slider-text">因为天下我们相聚在这里</span>
		</div>
		<hr class="tech-hr" />
		<div class="tech-con-title">功能列表</div>
		<div class="tech-box">
			<div class="tech-item" @click="routeGo($event, 'hh')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>全服主流幻化排行榜</span>
			</div>
			<div class="tech-item" @click="routeGo($event, 'gm')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>全服改名查询</span>
			</div>
			<div class="tech-item" @click="routeGo($event, 'zf')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>全服转服记录查询</span>
			</div>
			<div class="tech-item" @click="routeGo($event, 'cbg')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>藏宝阁高级条件搜索</span>
			</div>
			<div class="tech-item" @click="routeGo($event, 'hero')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>英雄榜查询</span>
			</div>
			<div class="tech-item" @click="routeGo($event, 'szzq')">
					<div class="bg-tech-item">
						<Icon type="chevron-right"></Icon>
					</div>
					<span>时装坐骑查询</span>
			</div>
		</div>
		<div class="tech-footer">
			<p>QQ群：366062494 | YY频道：20650712</p>
			<p>Copyright ©2017，由天下三Just do IT网友群，提供技术支持</p>
		</div>
	</div>
	<signin-modal v-model="siModal" /> 
    <signup-modal v-model="suModal" />
</div>
</template>
<script>
import signinModal from '../../components/modal/signinModal'
import signupModal from '../../components/modal/signUpModal'
import bowser from 'bowser'
export default {
    name: 'home',
    created() {
		if(bowser.mobile) {
			this.$router.push('phone');
		}
		else {
			setTimeout(() => {
				this.elementing = true;
			}, 1000);
		}
		
    },
    data() {
			return {
				elementing: false,
				siModal: false,
      			suModal: false
			}
    },
    methods: {
        routeGo(e, type) {
			this.$router.push({ path: '/main/' + type  })
		},
		loginModal(e){
			this.siModal = true
		},
		registModal(e){
			this.suModal = true
		},
		routeGoHeader(e, type) {
			this.$router.push({ path: '/'  });
		}
    },
	components: {
		signinModal,
		signupModal
	},
	watch: {
		$route(){
			if(bowser.mobile) {
				this.$router.push('phone');
			}
		}
	}
}
</script>