<template>
    <div class="zf-main">
        <div class="query-box">
            <Row type="flex" align="middle" class="item-query">
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">状态</Col>
					<Row type="flex" align="middle" class="item-qj">
						<Select v-model="searchData.type" style="width: 100px">
							<Option v-for="item in statusList" :value="item.value" :key="item.value">{{ item.label }}</Option>
						</Select>
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">转入/转出</Col>
					<Row type="flex" align="middle" class="item-qj">
                        <Select v-model="searchData.zftype" style="width: 100px">
							<Option v-for="item in typeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
						</Select>
					</Row>
				</Row>
				<Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">游戏区</Col>
					<Row type="flex" align="middle" class="item-qj">
                        <Cascader :data="yxqData" v-model="searchData.youxiqu"></Cascader>
					</Row>
				</Row>
                <Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">时间</Col>
					<Row type="flex" align="middle" class="item-qj">
                        <Select v-model="searchData.shijian" style="width: 100px">
							<Option v-for="item in timeList" :value="item.value" :key="item.value">{{ item.label }}</Option>
						</Select>
					</Row>
				</Row>
                <Row type="flex" align="middle" class="item-qj">
					<Col span="1" class="title">势力</Col>
					<Row type="flex" align="middle" class="item-qj">
						<Input v-model="searchData.shili" />
					</Row>
				</Row>
			</Row>
        </div>
        <div class="search-box">
			<Button type="info" @click="search($event)">搜索</Button>
		</div>
        <div class="zf-body">
            <el-table 
                :data="tableData"
                style="width: 100%"
                height="800">
                <el-table-column
                    prop="string"
                    align="center"
                    width="50"
                    label="门派">
                    <template slot-scope="scope">
                        <span>{{scope.row.MenPaiName}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="新名字">
                    <template slot-scope="scope">
                        <span>{{scope.row.NewName}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="新游戏区">
                    <template slot-scope="scope">
                        <span>{{`${scope.row.NewFWQ}-${scope.row.NewYXQ}`}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="新势力">
                    <template slot-scope="scope">
                        <span>{{scope.row.NewShiLi}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="最近更新时间">
                    <template slot-scope="scope">
                        <span>{{momentData(scope.row.NewCreateTime)}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="原姓名">
                    <template slot-scope="scope">
                        <span>{{scope.row.Name}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="原游戏区">
                    <template slot-scope="scope">
                        <span>{{`${scope.row.FWQ}-${scope.row.YXQ}`}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="原势力">
                    <template slot-scope="scope">
                        <span>{{scope.row.ShiLi}}</span>
					</template>
				</el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="上次更新时间">
                    <template slot-scope="scope">
                        <span>{{momentData(scope.row.CreateTime)}}</span>
					</template>
				</el-table-column>
            </el-table>
        </div>
        <div class="zf-footer" v-if="total > 20">
             <Page :total="total"
                size="small" 
                :current.sync="page" 
                :page-size="20" 
                @on-change="changePage($event)"
                show-elevator></Page>
        </div>
    </div>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
    export default {
        data() {
            return {
                page: 1, 
                total: null,
                tableData: null,
                mpMap: ['', '荒火', '天机', '羽毛', '魍魉', '太虚', '云麓', '冰心', '弈剑', '鬼墨', '龙巫', '幽篁'],
                statusList: [
                    {
                        label: '转服查询',
                        value: 1
                    }
                ],
                typeList: [
                    {
                        label: '转出',
                        value: 1
                    },
                    {
                        label: '转入',
                        value: 2
                    }
                ],
                timeList: [
                    {
                        label: '一周内',
                        value: 7
                    },
                    {
                        label: '一个月内',
                        value: 31
                    },
                    {
                        label: '三个月内',
                        value: 99
                    }
                ],
                yxqData: [
                    {	
                        label: '全部大区',
                        value: '全部'
                    },
                    {	
                        label: '上海区',
                        value: 'shq',
                        children: [
                            {
                                label: '东方明珠',
                                value: '东方明珠'
                            }
                        ]
                    },
                    {
                        label: '傲世华夏',
                        value: 'ashx',
                        children: [
                            {
                                label: '君临天下',
                                value: '君临天下',
                            },
                            {
                                label: '天生王者',
                                value: '天生王者',
                            },
                            {
                                label: '幻龙诀',
                                value: '幻龙诀',
                            },
                            {
                                label: '气壮山河',
                                value: '气壮山河',
                            }
                        ]
                    },
                    {
                        label: '北京区',
                        value: 'bj',
                        children: [
                            {
                                label: '紫禁之巅',
                                value: '紫禁之巅',
                            }
                        ]
                    },
                    {
                        label: '启天之路',
                        value: 'qtzl',
                        children: [
                            {
                                label: '一笑倾城',
                                value: '一笑倾城'
                            },
                            {
                                label: '剑啸昆仑',
                                value: '剑啸昆仑',
                            },
                            {
                                label: '煮酒听雨',
                                value: '煮酒听雨',
                            },
                            {
                                label: '物换星移',
                                value: '物换星移',
                            },
                            {
                                label: '秋月鎏光',
                                value: '秋月鎏光',
                            },
                            {
                                label: '筑梦华夏',
                                value: '筑梦华夏',
                            },
                            {
                                label: '雪舞倾城',
                                value: '雪舞倾城',
                            }
                        ]
                    },
                    {
                        label: '四川区',
                        value: 'sc',
                        children: [
                            {
                                label: '天府之国',
                                value: '天府之国',
                            }
                        ]
                    },
                    {
                        label: '国风盛世',
                        value: 'gfss',
                        children: [
                            {
                                label: '墨倾天下',
                                value: '墨倾天下',
                            },
                            {
                                label: '碧海青天',
                                value: '碧海青天',
                            },
                            {
                                label: '笑看风云',
                                value: '笑看风云',
                            },
                            {
                                label: '逍遥三界',
                                value: '逍遥三界',
                            }
                        ]
                    },
                    {
                        label: '天下一统',
                        value: 'txyt',
                        children: [
                            {
                                label: '天下无双',
                                value: '天下无双',
                            },
                            {
                                label: '情动大荒',
                                value: '情动大荒',
                            },
                            {
                                label: '昆仑变',
                                value: '昆仑变',
                            },
                            {
                                label: '烟花三月',
                                value: '烟花三月',
                            },
                            {
                                label: '琉璃月',
                                value: '琉璃月',
                            },
                            {
                                label: '纵横四海',
                                value: '纵横四海',
                            },
                            {
                                label: '飞鸿踏雪',
                                value: '飞鸿踏雪',
                            }
                        ]
                    },
                    {
                        label: '山东区',
                        value: 'sd',
                        children: [
                            {
                                label: '齐鲁天下',
                                value: '齐鲁天下'
                            }
                        ]
                    },
                    {
                        label: '广东区',
                        value: 'sd',
                        children: [
                            {
                                label: '剑舞香江',
                                value: '剑舞香江'
                            },
                            {
                                label: '白云山',
                                value: '白云山'
                            }
                        ]
                    },
                    {
                        label: '江苏区',
                        value: 'js',
                        children: [
                            {
                                label: '瘦西湖',
                                value: '瘦西湖'
                            }
                        ]
                    },
                    {
                        label: '河南区',
                        value: 'hn',
                        children: [
                            {
                                label: '逐鹿中原',
                                value: '逐鹿中原'
                            }
                        ]
                    },
                    {
                        label: '浙江区',
                        value: 'zj',
                        children: [
                            {
                                label: '烟雨江南',
                                value: '烟雨江南'
                            }
                        ]
                    },
                    {
                        label: '湖北区',
                        value: 'hb',
                        children: [
                            {
                                label: '黄鹤楼',
                                value: '黄鹤楼'
                            }
                        ]
                    },
                    {
                        label: '湖南区',
                        value: 'hnan',
                        children: [
                            {
                                label: '洞庭湖',
                                value: '洞庭湖'
                            }
                        ]
                    },
                    {
                        label: '福建区',
                        value: 'fj',
                        children: [
                            {
                                label: '武夷九曲',
                                value: '武夷九曲'
                            }
                        ]
                    },
                    {
                        label: '荣耀大荒',
                        value: 'rydh',
                        children: [
                            {
                                label: '上善若水',
                                value: '上善若水'
                            },
                            {
                                label: '飞龙在天',
                                value: '飞龙在天'
                            }
                        ]
                    },
                    {
                        label: '辽宁区',
                        value: 'ln',
                        children: [
                            {
                                label: '烽火关东',
                                value: '烽火关东'
                            }
                        ]
                    },
                    {
                        label: '陕西区',
                        value: 'sx',
                        children: [
                            {
                                label: '盛世长安',
                                value: '盛世长安'
                            }
                        ]
                    },
                ],
                searchData: {
                    zftype: 1,
                    youxiqu: ['全部'],
                    shili: '',
                    shijian: null,
                    type: 1
                }
            }
        },
        created() {
            this.page = 1;
            this.searchJson();
        },
        methods: {
            search(e) {
                this.page = 1;
                this.searchJson();
            },
            momentData(date) {
                return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
            },
            changePage() {
                this.searchJson();
            },
            searchJson() {
                const putData = {};

                putData.PageIndex = this.page;
                putData.shili = this.searchData.shili;
                putData.youxiqu = this.searchData.youxiqu[1] || '';
                putData.type = this.searchData.type;
                putData.zftype = this.searchData.zftype;
                putData.shijian = this.searchData.shijian;
                this.$Spin.show();

                http.post('/Demo/GetZFList', qs.stringify(putData)).then((res) => {
                    this.$Spin.hide();
                    if(res.status === 200) {
                        if(res.data.Success) {
                            res.data.Value.List.forEach((item, index) => {
                                item.index = index + 1 + (20 * (this.page - 1));
                            })
                            this.tableData = res.data.Value.List;
                            this.total = res.data.Value.PageCount * 20;
                        }
                    }
                });
            }
        },
        watch: {
            isRefresh() {
                if (this.isRefresh) {
                    this.search().then(() => {
                        this.$toast('刷新成功');
                        this.isRefresh = false;
                    })
                }
            }
        }
    }
</script>