<template>
    <div class="p-gm-main">
        <div class="p-gm-header">
            <van-nav-bar
                title="改名查询"
                left-text="返回"
                left-arrow
                @click-left="onClickLeft()">
            </van-nav-bar>
            <van-search
                v-model="searchData.Name"
                placeholder="请输入角色名"
                class="p-search-box"
                show-action>
                <div slot="action" class="p-search-button" @click="onSearch">搜索</div>
            </van-search>
        </div>
        <div class="p-gm-body">
            <van-popup class="p-gm-change-name-model-main" v-model="showChangeModal" position="bottom">
                <van-nav-bar
                    :title="`${chooseName}的改名记录`"
                    left-text="返回"
                    left-arrow
                    @click-left="closeChangeModal"
                />
                <div class="p-gm-c-n-m">
                    <ul>
                        <li class="c-n-m-item" v-for="(item, index) in gmList" :key="index">
                            <div class="item-con">
                                <div class="p-gm-item-head">
                                    <span>{{'Lv. ' + item.DengJi}}</span>
                                    <span>{{mpData[item.MengPai]}}</span>
                                    <span>{{item.Name}}</span>
                                </div>
                                <div class="p-gm-li-body">
                                    <div class="p-gm-item">
                                        <span>游戏区：</span>
                                        <span>{{`${item.FWQ}-${item.YXQ}`}}</span>
                                    </div>
                                    <div class="p-gm-item">
                                        <span>势力：</span>
                                        <span>{{item.ShiLi || '无'}}</span>
                                    </div>
                                    <div class="p-gm-item">
                                        <span>更新时间</span>
                                        <span>{{momentData(item.CreateTime)}}</span>
                                        <van-tag type="primary">{{(item.Status)?('最新的状态'):('上次的状态')}}</van-tag>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="loading-name-box" v-if="gmList.length < gmtotal" @click="loadingMoreChange($event)">
                        <van-loading class="loading-box" v-show="isLodingNameList" type="spinner" color="black" />
                        <span v-show="!isLodingNameList" >加载更多</span>   
                    </div>
                </div>
            </van-popup>
            <van-popup class="p-gm-hero-main" v-model="showHero" position="bottom">
                <van-nav-bar
                    :title="`${chooseRole.Name}的英雄榜`"
                    left-text="返回"
                    left-arrow
                    @click-left="closeHeroModal"
                />
                <div class="hero-box">
                    <iframe :src="`http://bang.tx3.163.com/bang/role/${chooseRole.RoleId}`" frameborder="0"></iframe>
                </div>
            </van-popup>
            <van-popup class="p-gm-change-name-model-main" v-model="showShilili" position="bottom">
                <van-nav-bar
                    :title="`${chooseName}的势力记录`"
                    left-text="返回"
                    left-arrow
                    @click-left="closeShiliModal"
                />
                <div class="p-gm-c-n-m">
                    <ul>
                        <li class="c-n-m-item" v-for="(item, index) in shiliList" :key="index">
                            <div class="item-con">
                                <div class="p-gm-item-head">
                                    <span>{{item.EmailAddress}}</span>
                                </div>
                                <div class="p-gm-li-body">
                                    <div class="p-gm-item">
                                        <span>势力：</span>
                                        <span>{{item.Remark || '无'}}</span>
                                    </div>
                                    <div class="p-gm-item">
                                        <span>更新时间</span>
                                        <span>{{momentData(item.CreateTime)}}</span>
                                        <van-tag type="primary">{{(item.Status)?('最新的状态'):('上次的状态')}}</van-tag>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </van-popup>
            <ul class="p-gm-con">
                <li class="p-gm-con-li" v-for="(item, index) in tableData" :key="index">
                    <div class="p-gm-item-head">
                        <span>{{'Lv. ' + item.DengJi}}</span>
                        <span>{{mpData[item.MengPai]}}</span>
                        <span>{{item.Name}}</span>
                    </div>
                    <div class="p-gm-li-body">
                        <div class="p-gm-item">
                            <span>游戏区：</span>
                            <span>{{`${item.FWQ}-${item.YXQ}`}}</span>
                        </div>
                        <div class="p-gm-item">
                            <span>势力：</span>
                            <span>{{item.ShiLi || '无'}}</span>
                        </div>
                        <div class="p-gm-item">
                            <span>更新时间</span>
                            <span>{{momentData(item.CreateTime)}}</span>
                            <van-tag type="primary">{{(item.Status)?('最新的状态'):('上次的状态')}}</van-tag>
                        </div>
                        <div class="p-gm-item">
                            <div class="op-box">
                                <div class="op-item" @click="goSearch($event, item)">
                                    <van-icon name="search"></van-icon>
                                    <label class="op-title">改名记录</label>
                                </div>
                                <div class="op-item" @click="goHero($event, item)">
                                    <van-icon name="tosend" ></van-icon>
                                    <label class="op-title">英雄榜</label>
                                </div>
                                <div class="op-item" @click="goShili($event, item)">
                                    <van-icon name="pending-orders"></van-icon>
                                    <label class="op-title">势力记录</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
            <div class="loading-more-box" @click="loadingMoreList($event)" v-if="tableData.length < total">
                <van-loading class="loading-box" v-show="isLodingList" type="spinner" color="black" />
                <span v-show="!isLodingList" >加载更多</span>   
            </div>
        </div>
    </div>
</template>
<script>
import http from 'axios'
import moment from 'moment'
import { Waterfall } from 'vant';
import qs from 'qs'
export default {
    created() {
        this.initData();
    },
    directives: {
        WaterfallLower: Waterfall('lower'),
        WaterfallUpper: Waterfall('upper')
    },
    data() {
        return {
            showSearch: false,
            showShilili: false,
            isLodingNameList: false,
            tableData: [],
            showHero: false,
            chooseRole: {},
            total: 0,
            showChangeModal: false,
            gmList: [],
            gmtotal: 0,
            shiliList: [],
            isLodingList: false,
            chooseName: '',
            searchData: {
                Name: null,
                PageIndex: 1
            },
            mpData: ['', '荒火', '天机', '羽毛', '魍魉', '太虚', '云麓', '冰心', '弈剑', '鬼墨', '龙巫', '幽篁'],
            changeNameData: {
                RoleId: '',
                PageIndex: 1,
                kan: undefined
            }
        }
    },
    methods: {
        initData() {
            this.$Spin.show();
            http.post('/Demo/GetGMJson', qs.stringify(this.searchData)).then((res) => {
                this.$Spin.hide();
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.total = res.data.Value.PageCount * 20;
                        this.tableData = (this.tableData || []).concat(res.data.Value.List);
                        this.searchData.PageIndex++;
                        this.isLodingList = false;
                    }
                }
            });
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
        },
        onClickLeft() {
            this.$router.push('search');
        },
        onSearch() {
            this.searchData.PageIndex = 1;
            this.tableData = [];
            this.initData();
        },
        initChangeNameModalData() {
            this.spinShow = true;
            http.post('/Demo/GetGMJson', qs.stringify(this.changeNameData)).then((res) => {
                this.spinShow = false;
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.gmtotal = res.data.Value.PageCount;
                        this.gmList = (this.gmList || []).concat(res.data.Value.List);
                        this.changeNameData.PageIndex++;
                        this.isLodingNameList = false;
                    }
                }
            });
        },
        initShiliModalData(){
            this.spinShow = true;
            http.post('/Demo/GetShiliJson', qs.stringify({
                RoleId: this.changeNameData.RoleId
            })).then((res) => {
                this.spinShow = false;
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.shiliList = (this.gmList || []).concat(res.data.Value);
                    }
                }
            });
        },
        loadingMoreList() {
            this.initData();
            this.isLodingList = true;
        },
        loadingMoreChange() {
            this.isLodingNameList = true;
            this.initChangeNameModalData();
        },
        goSearch(e, item) {
            this.showChangeModal = true;
            this.changeNameData.RoleId = item.RoleId;
            this.chooseName = item.Name;
            this.initChangeNameModalData();
        },
        closeChangeModal() {
            this.showChangeModal = false;
            this.changeNameData = {
                RoleId: '',
                PageIndex: 1,
                kan: undefined
            };
            this.chooseName = '';
            this.gmList = [];
        },
        goHero(e, item) {
            this.chooseRole = item;
            this.showHero = true;
        },
        closeHeroModal() {
            this.showHero = false;
        },
        goShili(e, item) {
            this.showShilili = true;
            this.changeNameData.RoleId = item.RoleId;
            this.chooseName = item.Name;
            this.initShiliModalData();
        },
        closeShiliModal() {
            this.showShilili = false;
            this.changeNameData = {
                RoleId: '',
                PageIndex: 1,
                kan: undefined
            };
            this.chooseName = '';
            this.shiliList = [];
        }
    }
}
</script>

