<template>
    <div class="gm-main">
        <search-change-modal :role-id="roleId" v-model="scModal" /> 
        <bind-watch-zp-modal :role-id="roleId" v-model="wzmModal" />
        <search-shili-report-modal :role-id="roleId" v-model="ssrModal" />
        <div class="gm-query-box">
            <Row type="flex" align="middle">
                <Col span="1" class="title">搜索</Col>
                <Row type="flex" align="middle" >
                    <Input v-model="searchData.Name" />
                </Row>
                <Col span="8">
                    <Button class="mgl4 mgr4" type="primary" icon="ios-search" @click="search($event)">搜索</Button>
                    <Button type="warning" icon="ios-refresh" @click="reset($event)">重置</Button>
                </Col>
            </Row>
        </div>
        <div class="gm-body">
            <el-table 
                :data="tableData"
                style="width: 100%"
                height="800">
                <el-table-column
                    prop="string"
                    align="center"
                    label="角色名">
                    <template slot-scope="scope">
                        <span>{{scope.row.Name}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="80"
                    label="门派">
                    <template slot-scope="scope">
                        <span>{{mpData[scope.row.MengPai]}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="80"
                    label="等级">
                    <template slot-scope="scope">
                        <span>{{scope.row.DengJi}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="服务器">
                    <template slot-scope="scope">
                        <span>{{scope.row.FWQ + '-' + scope.row.YXQ}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="120"
                    label="势力">
                    <template slot-scope="scope">
                        <span>{{scope.row.ShiLi}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    width="120"
                    label="状态">
                    <template slot-scope="scope">
                        <span>{{(scope.row.Status)?('最新的状态'):('上次的状态')}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="上次更新时间">
                    <template slot-scope="scope">
                        <span>{{momentData(scope.row.CreateTime)}}</span>
                    </template>
                </el-table-column>
                <el-table-column
                    prop="string"
                    align="center"
                    label="操作">
                    <template slot-scope="scope">
                        <Poptip content="改名/转服信息" trigger="hover" placement="bottom">
                            <Button type="primary" shape="circle" @click="changeNameModal($event, scope.row)" icon="ios-search"></Button>
                        </Poptip>
                        <Poptip content="查看英雄榜" trigger="hover" placement="bottom">
                            <Button type="primary" shape="circle" icon="ribbon-b" @click="openHero($event, scope.row)"></Button>
                        </Poptip>
                        <Poptip content="绑定监控装评" trigger="hover" placement="bottom">
                            <Button type="primary" shape="circle" icon="speakerphone" @click="bindWatchZZp($event, scope.row)"></Button>
                        </Poptip>
                        <Poptip content="势力记录" trigger="hover" placement="bottom">
                            <Button type="primary" shape="circle" icon="clipboard" @click="searchShiliReport($event, scope.row)"></Button>
                        </Poptip>
                        <Poptip content="评价/资料" trigger="hover" placement="bottom">
                            <Button type="primary" shape="circle" icon="android-contact" @click="scoreAndInfo($event)"></Button>
                        </Poptip>
                    </template>
                </el-table-column>
            </el-table>
        </div>
        <div class="gm-footer" v-if="total > 20">
             <Page :total="total"
                size="small" 
                :current.sync="searchData.PageIndex" 
                :page-size="20" 
                @on-change="changePage($event)"
                show-elevator></Page>
        </div>
    </div>
    
</template>
<script>
import http from 'axios'
import moment from 'moment'
import qs from 'qs'
import searchChangeModal from '../../modal/searchChangeModal';
import bindWatchZpModal from '../../modal/bindWatchZpModal';
import searchShiliReportModal from '../../modal/searchShiliReportModal';
export default {
    data() {
        return {
            tableData: null,
            roleId: '',
            scModal: false,
            wzmModal: false,
            ssrModal: false,
            searchData: {
                Name: null,
                PageIndex: 1
            },
            total: null,
            mpData: ['', '荒火', '天机', '羽毛', '魍魉', '太虚', '云麓', '冰心', '弈剑', '鬼墨', '龙巫', '幽篁']
        }
    },
    methods: {
        initData() {
            this.$Spin.show();
            http.post('/Demo/GetGMJson', qs.stringify(this.searchData)).then((res) => {
                this.$Spin.hide();
                if(res.status === 200) {
                    if(res.data.Success) {
                        this.total = res.data.Value.PageCount * 20;
                        this.tableData = res.data.Value.List;
                    }
                }
            });
        },
        momentData(date) {
            return moment(parseInt(date.match(/[0-9]+/)[0])).format('YYYY-MM-DD HH:mm:ss')
        },
        changePage() {
            this.initData();
        },
        search() {
            this.searchData.PageIndex = null;
            this.initData();
        },
        reset() {
            this.searchData.Name = null;
            this.searchData.PageIndex = 1;
            this.initData();
        },
        changeNameModal(e, item) {
            this.roleId = item.RoleId;
            this.scModal = true;
        },
        openHero(e, item) {
            window.open('http://bang.tx3.163.com/bang/role/' + item.RoleId);
        },
        bindWatchZZp(e, item) {
            this.roleId = item.RoleId;
            this.wzmModal = true;
        },
        searchShiliReport(e, item) {
            this.roleId = item.RoleId;
            this.ssrModal = true;
        },
        scoreAndInfo() {
            this.$Message.info('功能正在开发，敬请期待！');
        }
    },
    created(){
        this.initData();
    },
    components: {
        searchChangeModal,
        bindWatchZpModal,
        searchShiliReportModal
    }
}
</script>