
/**

	v-center  垂直居中, 需要设定容器的position
	h-center  水平居中, 需要设定容器的position
	c-center  全部居中, 需要设定容器的position
	w5~w100   百分比样式
	can-not-select 文本不能选中样式
	mg  外边框单样式
	pd  内边框单样式
	bd  边框样式
	ft  字体大小单样式
	ta  文本对齐单样式
	fr/fl 浮动样式
	pa  layout样式
	dl  行内元素基样式
	clearfix 清除浮动样式
	text-ellipsis 文本省略号
	box-shadow-none 去除阴影样式
*/

html,
body {
  width: 100%;
  height: 100%;
}

//去除登录页面在chrome下的用户名密码自动填充样式
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition-delay: 9999999999999s;
  -webkit-transition: color 9999999999999s ease-out, background-color 9999999999999s ease-out;
}

.v-center {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
}

.h-center {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

.c-center {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
@for $i from 1 to 20 {
    .w#{$i} {
        width: $i * 5%;
    }
    .h#{$i} {
        height: $i *5%;
    }
}

@for $i from 0 to 10 {
    .mg#{$i} { 
        margin: ($i * 5px);
    }
    .mgt#{$i} {
        margin-top: ($i * 5px);
    }
    .mgb#{$i} {
        margin-bottom: ($i * 5px);
    }
    .mgl#{$i} {
        margin-left: ($i * 5px);
    }
    .mgr#{$i} {
        margin-right: ($i * 5px);
    }
    .pd#{$i} {
        padding: ($i * 5px);
    }
    .pdt#{$i} {
        padding-top: ($i * 5px);
    }
    .pdr#{$i} {
        padding-right: ($i * 5px);
    }
    .pdb#{$i} {
        padding-bottom: ($i * 5px);
    }
    .pdl#{$i} {
        padding-left: ($i * 5px);
    }
    $i: $i + 5;
}

.can-not-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


/*边框样式*/

.no-bdr {
  border: 0 !important;
}

.bdr {
  border: 1px solid;
}

.bdrt {
  border-top: 1px solid;
}

.bdrr {
  border-right: 1px solid;
}

.bdrb {
  border-bottom: 1px solid;
}

.bdrl {
  border-left: 1px solid;
}

.bdr-r3 {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.bdr-r5 {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.bdr-r10 {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.bdr-ra {
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}


/*字体样式*/

.fb {
  font-weight: bold;
}

.fn {
  font-weight: normal;
}


/*文本对齐*/

.ta-c {
  text-align: center !important;
}

.ta-l {
  text-align: left;
}

.ta-r {
  text-align: right;
}


/*浮动*/

.fl {
  float: left;
}

.fr {
  float: right;
}


/*位置*/

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.ps {
  position: static;
}

.pf {
  position: fixed;
}


/*行内元素*/

.d-inline-block {
  display: inline-block;
}

.v-m {
  vertical-align: middle;
}

.v-t {
  vertical-align: top;
}


/*鼠标手势*/

.cursor-pointer {
  cursor: pointer;
}

.cursor-move {
  cursor: move;
}


/*去除阴影*/

.box-shadow-none {
  box-shadow: none;
  -webkit-box-shadow: none;
}


/*初始化overflow*/

.overflow-normal {
  overflow: visible;
}

.resize-none {
  resize: none;
}

.hide {
  display: none;
}

.show {
  display: block;
}


/** 经典清除浮动**/
@mixin clearfix() {
    &:before,
    &:after {
      content: " ";
      display: table;
    }

    &:after {
      clear: both;
    }

}

.clearfix {
  @include clearfix;
}


/** 文本省略号 **/

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}


/*滚动条*/

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(150, 150, 150, .3);
}

//li 显示*行 其他省略号

@mixin elliosis_line($line) {
    display: -webkit-box;
    -webkit-line-clamp: $line;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
