/***** 背景图样式 ***/

@mixin bg {
    background: {
        repeat: no-repeat;
        position: center center;
        size: cover;
    }
}

@mixin icon {
    background: {
        repeat: no-repeat;
        position: center center;
        size: 100% 100%;
    }
}

@mixin main-bg {
  background-image: url('../assets/bg.png');
}

@mixin slider-bg {
  background-image: url('../assets/sliderimage1.png');
}

@mixin item-hh {
    background-image: url('../assets/hh_item.jpg');
}

@mixin item-tj {
  background-image: url('../assets/tj_item.jpg');
}

@mixin item-ym {
  background-image: url('../assets/ym_item.jpg');
}

@mixin item-wl {
  background-image: url('../assets/wl_item.jpg');
}

@mixin item-tx {
    background-image: url('../assets/tx_item.jpg');
}

@mixin item-yl {
    background-image: url('../assets/yl_item.jpg');
}

@mixin item-bx {
  background-image: url('../assets/bx_item.jpg');
}

@mixin item-yj {
  background-image: url('../assets/yj_item.jpg');
}

@mixin item-gm {
  background-image: url('../assets/gm_item.jpg');
}

@mixin item-lw {
  background-image: url('../assets/lw_item.jpg');
}

@mixin item-yh {
  background-image: url('../assets/yh_item.jpg');
}

@mixin rate-1 {
  background-image: url('../assets/rate-04.png');
}

@mixin rate-2 {
  background-image: url('../assets/rate-05.png');
}

@mixin rate-3 {
  background-image: url('../assets/rate-06.png');
}


