@import 'icon.scss';
@import '_base.scss';
@import '_reset.scss';
body {
  @include bg;
  @include main-bg;
}

.header {
  width: 100%;
  height: 59px;
  background-color: rgba(255, 255, 255, .8);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
  .header-main {
    width: 100%;
    height: 100%;
    .left-icon {
      width: 240px;
      padding-left: 30px;
      line-height: 60px;
      text-align: center;
      float: left;
      .left-title {
        font-size: 20px;
        display: inline-block;
      }
      i {
        font-size: 12px;
        margin-left: 5px;
        display: inline-block;
      }
    }
    .right-con {
      width: calc(100% - 460px);
      float: left;
      margin-right: 20px;
      .right-item-con {
        width: 450px;
        float: right;
        .header-item {
          text-align: center;
          position: relative;
          float: right;
          max-width: 120px;
          height: 59px;
					padding: 0 12px;
					&:hover {
						a {
							color: #5182E4;
						}
					}
          a {
            height: 58px;
            display: flex;
            color: #999;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-weight: bold;
            cursor: pointer;
            transition: color .2s ease;
            &:after {
              background-color: #5182E4;
            }
            &:hover:before {
              width: 100%;
							left: 0;
            }
            &.current:before {
              width: 100%;
              left: 0;
              background-color: rgba(0, 0, 0, .05);
            }
            &:before {
              content: '';
              display: block;
              position: absolute;
              bottom: 0;
              width: 0;
              left: 0px;
              height: 2px;
              background-color: #5182E4;
            }
            &:before {
              transition: width .25s cubic-bezier(0.51, 0.18, 0, 0.88) .1s;
            }
          }
        }
      }
		}
		.login-content {
			float: left;
			width: 120px;
			height: 100%;
			line-height: 59px;
    }
    .qr-code-box {
      float: left;
      width: 80px;
      height: 100%;
      line-height: 59px;
      position: relative;
      text-align: center;

      .code {
        font-size: 30px;
        display: inline-block;
        height: 100%;
        line-height: 59px;
        cursor: pointer;
        &:hover {
          & + .qr-code-con {
            transform: scale(1);
          }
        }
      }
      .qr-code-con {
        position: absolute;
        left: -120px;
        z-index: 120;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        height: 200px;
        overflow: hidden;
        transform: scale(0);
        transition: 500ms;
        img {
          width: 200px;
          height: 200px;
        }
      }
    }
  }
}

.signin-modal-main {
	.signin-modal-footer {
		text-align: center;
	}
}

.signup-modal-main {
  .signup-modal-footer {
    text-align: center;
  }
}

.main-view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .body-view {
    width: 100%;
    height: 100%;
    flex-wrap: nowrap;

  }
  .main-child-card {
    width: 100%;
    height: 100%;
    .main-child-router-card {
      width: 100%;
      height: 100%;
      padding: 15px;
      overflow: auto;
      .main-child-view {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.cbg-main {
  width: 100%;
  height: 100%;
  .query-box {
    width: 100%;
    height: 175px;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .5);
    padding: 10px 5px;
    border-radius: 10px;

    &.collspan {
      height: 900px;
    }

    .title {
      width: 60px;
      text-align: center;
    }
    .con-box {
      width: calc(100% - 60px);
      .item-img {
        width: 50px;
        margin: 0 auto;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;

        .choose-bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          transition: 500ms;
          transform: scale(0);
          &.choose {
            transform: scale(1);
          }

          .choose-icon {
            width: 100%;
            display: inline-block;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            color: #08f87c;
          }
        }

        &.bg-hh {
          @include item-hh;
          @include icon;
        }
        &.bg-tj {
          @include item-tj;
          @include icon;
        }
        &.bg-ym {
          @include item-ym;
          @include icon;
        }
        &.bg-wl {
          @include item-wl;
          @include icon;
        }
        &.bg-tx {
          @include item-tx;
          @include icon;
        }
        &.bg-yl {
          @include item-yl;
          @include icon;
        }
        &.bg-bx {
          @include item-bx;
          @include icon;
        }
        &.bg-yj {
          @include item-yj;
          @include icon;
        }
        &.bg-gm {
          @include item-gm;
          @include icon;
        }
        &.bg-lw {
          @include item-lw;
          @include icon;
        }
        &.bg-yh {
          @include item-yh;
          @include icon;
        }

      }
    }
    .item-qj {
      flex-wrap: nowrap;
    }
    .item-query {
      margin-bottom: 20px;
      flex-wrap: nowrap;

      .item-seq {
        display: inline-block;
        width: 20px;
        text-align: center;
      }
      .choose-box {
        padding-right: 20px;
        position: relative;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color : #d2d2d2;
        transition: 500ms;
        cursor: pointer;
        &.choosed {
          border-color: #62B77A;
          .choose-bg {
            background-color: #62B77A;
          }
        }
        .choose-bg {
          width: 100%;
          background-color: #D2D2D2;
          .choose-text {
            color: #fff;
            line-height: 30px;
            padding: 0 10px;
          }
        }
        .choosed-icon {
          position: absolute;
          right: 0;
          top: 0;
          height: 28px;
          line-height: 28px;
          width: 19px;
          text-align: center;
          font-size: 18px;
          color: #62B77A;
        }

      }

    }

  }
  .collspan-box {
    width: 100%;
    height: 30px;
    margin-bottom: 0;
    text-align: left;
    display: inline-block;
    line-height: 30px;
    transition: 500ms;
    padding-left: 15px;

    cursor: pointer;
    .collspan-main {
      width: 100%;
      height: 100%;
    }
    &:hover {
      padding-left: calc(50% - 15px);
      .collspan-icon {
        transform: rotate(90deg);
      }
      background-color: rgba(0, 0, 0, 0.1);
    }
    .collspan-icon {
      display: inline-block;
      transition: 500ms;
      &.collspan {
        transform: rotate(-90deg);
      }
    }
    .collspan-text {
      font-size: 12px;
    }
  }
  .search-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 30px;

  }

}

.gm-main {
  .gm-footer {
    width: 100%;
    height: 60px;
    line-height: 60px;
    text-align: right;
  }
}

.main-main {
  width: 100%;
  height: 100%;
  overflow: auto;
  &.animate-init {
    .slider-box {
      .slider-img {
        transform: scale(1);
      }
      .slider-text {
        transform: scaleX(1);
      }
    }
    .tech-hr {
      transform: translateY(0);
    }
    .tech-con-title {
      transform: translateY(0);
    }
    .tech-box {
      transform: translateY(0);
    }
    .tech-footer {
      transform: translateY(0);
    }
  }
  .slider-box {
    width: calc(100% - 50px);
    height: 380px;
    margin: 30px auto 0 auto;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    .slider-img {
      position: relative;
      width: 100%;
      height: calc(100% - 30px);
      @include slider-bg;
      @include bg;
      transform: scale(0);
      transition: 500ms;
      z-index: 100;
    }
    .slider-text {
      display: block;
      width: 200px;
      text-align: center;
      line-height: 30px;
      margin: 0 auto;
      font-size: 14px;
      transform: scaleX(0);
      transition: 2000ms;
    }
  }
  .tech-hr {
    width: calc(100% - 50px);
    margin: 50px auto 0 auto;
    border-top: 1px solid #999;
    transform: translateY(1000px);
    transition: 500ms;
  }
  .tech-con-title {
    width: 110px;
    height: 30px;
    background-color: #EAEAEA;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    margin: -15px auto 0 auto;
    transform: translateY(1000px);
    transition: 500ms;
  }
  .tech-box {
    margin: 30px auto 0 auto;
    width: 800px;
    position: relative;
    transform: translateY(1000px);
    transition: 500ms;
    @include clearfix;
    .tech-item {
      width: 200px;
      height: 150px;
      border-radius: 10px;
      position: relative;
      @include icon;
      float: left;
      margin-right: 100px;
      overflow: hidden;
      cursor: pointer;
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(n + 4) {
        margin-top: 50px;
      }

			@for $i from 1 to 7 {
				&:nth-child(#{$i}) {
				  background-image: url('../assets/item#{$i}.jpg')
				}
			}
      span {
        display: inline-block;
        text-align: center;
        width: 100%;
        height: 30px;
        background-color: rgba(255, 255, 255, .8);
        line-height: 30px;
        transform: translateY(120px);
      }
      &:hover {
        .bg-tech-item {
          transform: translateX(0);
        }
      }
      .bg-tech-item {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .4);
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-200px);
        transition: 500ms;
        i {
          color: rgba(255, 255, 255, .8);
          display: inline-block;
          width: 50px;
          height: 50px;
          font-size: 20px;
          position: absolute;
          top: 35px;
          left: 0;
          right: 0;
          margin: auto;
          text-align: center;
          line-height: 45px;
          border: 3px solid rgba(255, 255, 255, .8);
          border-radius: 50%;
        }
      }
    }
  }
  .tech-footer {
    width: 100%;
    text-align: center;
    bottom: 0;
    position: absolute;
    height: 60px;
    border-top: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;
    transition: 500ms;
    transform: translateY(2000px);
  }
}

.main-body {
  width: 100%;
  height: calc(100% - 60px);
  flex-wrap: nowrap !important;

  > .ivu-layout {
    width: calc(100% - 200px);
  }

  > .ivu-layout-sider.ivu-layout-sider-collapsed + .ivu-layout {
    width: calc(100% - 78px);
  }
}

.search-change-name-modal {
  .search-change-name-table {
    .is-scroll-right {
      overflow-x: hidden;
    }
  }

  .warn-tip {
    width: calc(100% - 20px);
    margin: 10px;
    padding: 10px;
    background-color: #F0D9D9;
    line-height: 30px;
    border-radius: 10px;
    color: #B04075;
  }

  .search-body {
    margin-top: 10px;
    padding: 0 20px;
  }

  .search-footer {
    line-height: 30px;
    text-align: right;
    margin-top: 10px;
  }

  .ivu-modal-footer {
    padding: 0;
    border-top: 0;
  }

}

.watch-zp-modal {
  .wzm-header {
    width: 100%;
    padding: 10px 0;
    .title {
      font-size: 12px;
      line-height: 26px;
    }
  }

  .wzm-body {
    margin-top: 10px;
    padding: 15px;
    border: 1px solid #eee;
    color: #999;
    border-radius: 10px;
    line-height: 24px;
  }

  .wzm-footer {
    text-align: center;
  }


}

.search-shili-report-modal {
  .search-tip {
    padding: 5px 15px;
    border: 1px solid #eee;
    color: #999;
    border-radius: 10px;
    line-height: 24px;

  }

  .search-body {
    margin-top: 10px;
  }

  .ivu-modal-footer  {
    padding: 0;
    border-top: 0;

  }


}

.hero-main {
  width: 100%;
  height: 100%;

  .query-box {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .5);
    padding: 10px 5px;
    border-radius: 10px;
    .title {
      width: 60px;
      text-align: center;
    }
    .item-qj {
      flex-wrap: nowrap;
    }
    .item-qj-input {
      width: 120px;
    }


    .con-box {
      width: calc(100% - 60px);
      .item-img {
        width: 50px;
        margin: 0 auto;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;
        .choose-bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          transition: 500ms;
          transform: scale(0);
          &.choose {
            transform: scale(1);
          }
          .choose-icon {
            width: 100%;
            display: inline-block;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            color: #08f87c;
          }
        }
        &.bg-hh {
          @include item-hh;
          @include icon;
        }
        &.bg-tj {
          @include item-tj;
          @include icon;
        }
        &.bg-ym {
          @include item-ym;
          @include icon;
        }
        &.bg-wl {
          @include item-wl;
          @include icon;
        }
        &.bg-tx {
          @include item-tx;
          @include icon;
        }
        &.bg-yl {
          @include item-yl;
          @include icon;
        }
        &.bg-bx {
          @include item-bx;
          @include icon;
        }
        &.bg-yj {
          @include item-yj;
          @include icon;
        }
        &.bg-gm {
          @include item-gm;
          @include icon;
        }
        &.bg-lw {
          @include item-lw;
          @include icon;
        }
        &.bg-yh {
          @include item-yh;
          @include icon;
        }
      }
    }

    .item-query {
      margin-bottom: 20px;
      flex-wrap: nowrap;
      .choose-box {
        padding-right: 20px;
        position: relative;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #d2d2d2;
        transition: 500ms;
        cursor: pointer;
        &.choosed {
          border-color: #62B77A;
          .choose-bg {
            background-color: #62B77A;
          }
        }
        .choose-bg {
          width: 100%;
          background-color: #D2D2D2;
          .choose-text {
            color: 12px;
            color: #fff;
            line-height: 30px;
            padding: 0 10px;
          }
        }
        .choosed-icon {
          position: absolute;
          right: 0;
          top: 0;
          height: 28px;
          line-height: 28px;
          width: 19px;
          text-align: center;
          font-size: 18px;
          color: #62B77A;
        }
      }
    }
    .search-box {
      width: 100%;
      height: 50px;
      line-height: 50px;
      text-align: left;
      padding-left: 30px;
    }


  }

  .hero-body {
    .hero-iframe {
      width: 100%;
      height: 600px;
    }

  }

  .search-box {
    margin: 10px 0;
  }

  .hero-footer {
    width: 100%;
    line-height: 50px;
    text-align: right;
  }

}

.zf-main {
  width: 100%;
  height: 100%;

  .query-box {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .5);
    padding: 10px 5px;
    border-radius: 10px;
    .title {
      width: 80px;
      text-align: center;
    }
    .item-qj {
      flex-wrap: nowrap;
    }
    .item-qj-input {
      width: 120px;
    }
    .con-box {
      width: calc(100% - 60px);
      .item-img {
        width: 50px;
        margin: 0 auto;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;
        .choose-bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          transition: 500ms;
          transform: scale(0);
          &.choose {
            transform: scale(1);
          }
          .choose-icon {
            width: 100%;
            display: inline-block;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            color: #08f87c;
          }
        }
        &.bg-hh {
          @include item-hh;
          @include icon;
        }
        &.bg-tj {
          @include item-tj;
          @include icon;
        }
        &.bg-ym {
          @include item-ym;
          @include icon;
        }
        &.bg-wl {
          @include item-wl;
          @include icon;
        }
        &.bg-tx {
          @include item-tx;
          @include icon;
        }
        &.bg-yl {
          @include item-yl;
          @include icon;
        }
        &.bg-bx {
          @include item-bx;
          @include icon;
        }
        &.bg-yj {
          @include item-yj;
          @include icon;
        }
        &.bg-gm {
          @include item-gm;
          @include icon;
        }
        &.bg-lw {
          @include item-lw;
          @include icon;
        }
        &.bg-yh {
          @include item-yh;
          @include icon;
        }
      }
    }
    .item-query {
      flex-wrap: nowrap;
      .choose-box {
        padding-right: 20px;
        position: relative;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #d2d2d2;
        transition: 500ms;
        cursor: pointer;
        &.choosed {
          border-color: #62B77A;
          .choose-bg {
            background-color: #62B77A;
          }
        }
        .choose-bg {
          width: 100%;
          background-color: #D2D2D2;
          .choose-text {
            color: 12px;
            color: #fff;
            line-height: 30px;
            padding: 0 10px;
          }
        }
        .choosed-icon {
          position: absolute;
          right: 0;
          top: 0;
          height: 28px;
          line-height: 28px;
          width: 19px;
          text-align: center;
          font-size: 18px;
          color: #62B77A;
        }
      }
    }
  }
  .search-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 30px;
  }
  .zf-footer {
    width: 100%;
    line-height: 50px;
    text-align: right;

  }

}

.hh-main {
  width: 100%;
  height: 100%;
  .query-box {
    width: 100%;
    -webkit-transition: 500ms;
    transition: 500ms;
    overflow: hidden;
    background-color: rgba(240, 240, 240, .5);
    padding: 10px 5px;
    border-radius: 10px;
    .title {
      width: 80px;
      text-align: center;
    }
    .item-qj {
      flex-wrap: nowrap;
    }
    .item-qj-input {
      width: 120px;
    }
    .con-box {
      width: calc(100% - 60px);
      .item-img {
        width: 50px;
        margin: 0 auto;
        height: 50px;
        cursor: pointer;
        border-radius: 10px;
        overflow: hidden;
        .choose-bg {
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, .3);
          transition: 500ms;
          transform: scale(0);
          &.choose {
            transform: scale(1);
          }
          .choose-icon {
            width: 100%;
            display: inline-block;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            color: #08f87c;
          }
        }
        &.bg-hh {
          @include item-hh;
          @include icon;
        }
        &.bg-tj {
          @include item-tj;
          @include icon;
        }
        &.bg-ym {
          @include item-ym;
          @include icon;
        }
        &.bg-wl {
          @include item-wl;
          @include icon;
        }
        &.bg-tx {
          @include item-tx;
          @include icon;
        }
        &.bg-yl {
          @include item-yl;
          @include icon;
        }
        &.bg-bx {
          @include item-bx;
          @include icon;
        }
        &.bg-yj {
          @include item-yj;
          @include icon;
        }
        &.bg-gm {
          @include item-gm;
          @include icon;
        }
        &.bg-lw {
          @include item-lw;
          @include icon;
        }
        &.bg-yh {
          @include item-yh;
          @include icon;
        }
      }
    }
    .item-query {
      flex-wrap: nowrap;
      .choose-box {
        padding-right: 20px;
        position: relative;
        line-height: 30px;
        height: 30px;
        overflow: hidden;
        margin-right: 15px;
        border-radius: 5px;
        border-width: 1px;
        border-style: solid;
        border-color: #d2d2d2;
        transition: 500ms;
        cursor: pointer;
        &.choosed {
          border-color: #62B77A;
          .choose-bg {
            background-color: #62B77A;
          }
        }
        .choose-bg {
          width: 100%;
          background-color: #D2D2D2;
          .choose-text {
            color: 12px;
            color: #fff;
            line-height: 30px;
            padding: 0 10px;
          }
        }
        .choosed-icon {
          position: absolute;
          right: 0;
          top: 0;
          height: 28px;
          line-height: 28px;
          width: 19px;
          text-align: center;
          font-size: 18px;
          color: #62B77A;
        }
      }
    }
  }
  .search-box {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 30px;
  }
  .hh-footer {
    width: 100%;
    line-height: 50px;
    text-align: right;
  }
}

.ivu-card-body {
  width: 100%;
  height: 100%;

}

.szzq-main {
  width: 100%;
  height: 100%;
  overflow: hidden;

  .szzq-pain {
    width: 100%;
    height: 100%;

    .szzq-con {
      width: 100%;
      .query-box {
        width: calc(100% - 20px);
        margin: 10px;
        overflow: hidden;
        background-color: rgba(240, 240, 240, .5);
        border-radius: 10px;
        padding: 10px 10px;

        .item-query {
          margin-bottom: 20px;
          flex-wrap: nowrap;
          &:last-child {
            margin-bottom: 0px;
          }
          .item-qj {
            flex-wrap: nowrap;
            margin-right: 10px;
            .title {
              width: 70px;
              text-align: left;
            }
          }

        }

      }
    }
  }

}

.p-main-main {
  width: 100%;
  height: 100%;

  .p-main-body {
    width: 100%;
    height: calc(100% - 50px);
  }
}

.phome-search-main {
  width: 100%;
  height: 100%;
  overflow: hidden;
  .phone-slider-img {
    width: calc(100% - 40px);
    @include slider-bg;
    @include bg;
    height: 200px;
    margin: 10px 20px;
  }
  .phone-slider-text {
    width: 100%;
    line-height: 30px;
    text-align: center;
  }

  .phone-home-body {
    width: 100%;
    height: calc(100% - 252px);
    overflow-y: auto;
    overflow-x: hidden;
  }

  .p-h-item {
    width: 100px;
    height: 100px;
    margin: 20px auto 10px auto;
    background-color: #fff;
    overflow: hidden;
    border-radius: 10px;
    > img {
      width: 100px;
      height: 75px;
    }
    .item-text {
      font-size: 12px;
      line-height: 18px;
      text-align: center;
      color: #999;
    }
  }
}

.p-cbg-main {
  width: 100%;
  height: 100%;
  .p-cbg-body {
    width: 100%;
    height: 100%;
    .p-cbg-search {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .cbg-cell-block {
        .cbg-cell-title {
          margin: 0;
          font-weight: 400;
          font-size: 12px;
          color: rgba(69, 90, 100, 0.6);
          padding: 5px 15px;
        }
      }
      .p-cbg-search-body {
        width: 100%;
        height: calc(100% - 46px);
        overflow-x: hidden;
        overflow-y: auto;
      }


    }
    .p-result-body {
      width: 100%;
      height: calc(100% - 46px);
      overflow: auto;
      padding: 0 15px 20px 15px;

      .van-card {
        padding: 5px 15px 5px 80px;
      }

      .van-card__thumb {
        width: 65px;
      }

      .img-box {
        .img-level {
          width: 100%;
          text-align: center;
        }

      }

      .title-box {
        font-size: 12px;
        line-height: 24px;
        @include clearfix;
        .title-fwq {
          float: left;
          width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

        }
        .title-name {
          float: left;
          margin: 4px 0;
        }

        .title-price {
          float: right;
          color: rgb(238, 44, 44);
        }
      }

      .item-box {
        width: 100%;
        line-height: 24px;
        @include clearfix;
        font-size: 12px;
        .item {
          float: left;
          margin-right: 20px;
        }
      }

      .op-box {
        .item-icon {
          text-align: right;
          width: 50px;
          font-size: 12px;
          line-height: 30px;
        }
      }

    }

  }
  .detail-main {
    width: 100%;
    .detail-title {
      line-height: 50px;
      height: 50px;
      font-size: 12px;
      border-bottom: 1px solid #eee;
      span {
        &:first-child {
          margin-left: 10px;
        }
        &:last-child {
          float: right;
          margin-right: 10px;
          font-size: 14px;
          color: rgb(247, 57, 57);
        }
      }
    }
    .detail-body {
      width: 100%;
      .detail-item {
        line-height: 24px;
        padding: 5px 10px 0 10px;
        .item-field {
          .item-tag {
            margin-right: 10px;
          }
        }
      }
    }
    .detail-footer {
      border-top: 1px solid #eee;
      margin-top: 5px;
      height: 50px;
      line-height: 50px;
      text-align: center;
      .footer-button {
        margin-right: 30px;
      }

    }

  }

}

.p-gm-main {
  width: 100%;
  height: 100%;
  .p-gm-header {
    .p-search-box {
      .p-search-button {
        width: 50px;
        text-align: center;
        color: rgb(142, 142, 233);
      }
    }
  }

  .p-gm-body {
    width: 100%;
    height: calc(100% - 88px);
    overflow: auto;
    .p-gm-con {
      width: 100%;
      margin-bottom: 15px;
      .p-gm-con-li {
        width: calc(100% - 30px);
        margin: 15px 15px 0 15px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
        .p-gm-item-head {
          width: 100%;
          @include clearfix;
          span {
            float: left;
            line-height: 30px;
            &:first-child {
              margin-right: 20px;
            }
            &:nth-child(2) {
              margin-right: 20px;
            }
          }
        }
        .p-gm-li-body {
          width: 100%;
          .p-gm-item {
            width: 100%;
            @include clearfix;
            span {
              float: left;
              line-height: 30px;
              &:first-child {
                margin-right: 20px;
              }
              &:nth-child(3) {
                float: right;
                line-height: 18px;
                margin: 6px 20px 6px 0;
              }
            }
          }
          .op-box {
            @include clearfix;
            .op-item {
              float: left;
              width: 80px;
              display: flex;
              vertical-align: middle;
              line-height: 30px;
              margin-right: 20px;
              i {
                line-height: 30px;
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .loading-more-box {
      width: calc(100% - 40px);
      height: 30px;
      margin: 0 20px 15px 20px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
      border-radius: 10px;
      text-align: center;
      .loading-box {
        margin: 5px auto;
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;

      }

      span {
        line-height: 30px;

      }
    }
    .p-gm-hero-main {
      width: 100%;
      height: 100%;
      .hero-box {
        width: 100%;
        height: calc(100% - 46px);
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    }

    .p-gm-change-name-model-main {
      width: 100%;
      height: 100%;
      .loading-name-box {
        width: calc(100% - 40px);
        height: 30px;
        margin: 0 20px 15px 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
        text-align: center;
        .loading-box {
          margin: 5px auto;
          width: 20px;
          height: 20px;
          position: relative;
          top: 5px;
        }

        span {
          line-height: 30px;
        }

      }
      .p-gm-c-n-m {
        width: 100%;
        height: calc(100% - 46px);
        ul {
          width: 100%;
          height: 100%;
          overflow: auto;
          li {
            width: calc(100% - 20px);
            margin: 10px;
            background-color: #eefeff;
            padding: 10px;
            border-radius: 10px;

            .item-con {
              width: 100%;
              .p-gm-item-head {
                width: 100%;
                @include clearfix;
                span {
                  float: left;
                  line-height: 30px;
                  &:first-child {
                    margin-right: 20px;
                  }
                  &:nth-child(2) {
                    margin-right: 20px;
                  }
                }
              }
              .p-gm-li-body {
                width: 100%;
                .p-gm-item {
                  width: 100%;
                  @include clearfix;
                  span {
                    float: left;
                    line-height: 30px;
                    &:first-child {
                      margin-right: 20px;
                    }
                    &:nth-child(3) {
                      float: right;
                      line-height: 18px;
                      margin: 6px 20px 6px 0;
                    }
                  }
                }
                .op-box {
                  @include clearfix;
                  .op-item {
                    float: left;
                    width: 80px;
                    display: flex;
                    vertical-align: middle;
                    line-height: 30px;
                    margin-right: 20px;
                    i {
                      line-height: 30px;
                      margin-right: 5px;
                    }
                  }
                }
              }
            }

          }
        }
      }
    }
  }
}

.p-hero-main {
  width: 100%;
  height: 100%;


  .p-hero-body {
    width: 100%;
    height: 100%;

    .p-hero-search {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .p-hero-search-body {
        width: 100%;
        height: calc(100% - 46px);
        overflow-x: hidden;
        overflow-y: auto;
      }
    }


    .p-result-body {
      width: 100%;
      height: calc(100% - 46px);
      overflow: auto;
      padding: 0 15px 20px 15px;
      .van-card {
        padding: 5px 15px 5px 80px;
      }
      .van-card__thumb {
        width: 65px;
      }
      .img-box {
        .img-level {
          width: 100%;
          text-align: center;
        }
      }
      .title-box {
        font-size: 12px;
        line-height: 24px;
        @include clearfix;
        .title-fwq {
          float: left;
          width: 100px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }
        .title-name {
          float: left;
          margin: 4px 0;
        }
        .title-price {
          float: right;
          color: rgb(238, 44, 44);
        }
      }
      .item-box {
        width: 100%;
        line-height: 24px;
        @include clearfix;
        font-size: 12px;
        .item {
          float: left;
          margin-right: 20px;
        }
      }
      .op-box {
        .item-icon {
          text-align: right;
          width: 50px;
          font-size: 12px;
          line-height: 30px;
        }
      }
      .loading-more-box {
        width: calc(100% - 40px);
        height: 30px;
        margin: 20px 20px 0 20px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
        text-align: center;
        .loading-box {
          margin: 5px auto;
          width: 20px;
          height: 20px;
          position: relative;
          top: 5px;
        }
        span {
          line-height: 30px;
        }
      }
    }

    .p-hero-detail-main {
      width: 100%;
      height: 100%;
      .hero-box {
        width: 100%;
        height: calc(100% - 46px);
        iframe {
          width: 100%;
          height: 100%;
        }
      }

    }

  }

  .van-tree-select__selected {
    line-height: 44px !important;
  }

}

.p-hh-main {
  width: 100%;
  height: 100%;
  .p-hh-body {
    width: 100%;
    height: 100%;
    .p-hh-search {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .p-hh-search-body {
        width: 100%;
        height: calc(100% - 46px);
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }
  .p-result-body {
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto;
    padding: 0 15px 20px 15px;
    .p-hh-con {
      width: 100%;
      .p-hh-con-li {
        width: calc(100% - 30px);
        margin: 15px 15px 0 15px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
        line-height: 26px;
        .p-hh-item-head {
          line-height: 30px;
          .shili-name {
            font-size: 14px;
            color: rgb(238, 171, 83);
          }
          .rate {
            width: 30px;
            height: 30px;
            float: right;
            &.rate-1 {
              @include icon;
              @include rate-1;
            }
            &.rate-2 {
              @include icon;
              @include rate-2;
            }
            &.rate-3 {
              @include icon;
              @include rate-3;
            }
          }
          .rate-number {
            width: 30px;
            height: 30px;
            float: right;
            background-color: rgba(131, 168, 241, .5);
            border-radius: 15px;
            text-align: center;
          }
        }

        .p-hh-yh-item {
          &:last-child {
            span {
              &:nth-child(1) {
                width: 80px;
              }
              &:nth-child(2) {
                width: calc(50% - 120px);
              }
            }
          }
          span {
            display: inline-block;
            &:nth-child(2n + 1) {
              width: 60px;
              text-align: left;
            }
            &:nth-child(2n) {
              width: calc(50% - 70px);
              text-align: left;
            }
          }
        }
        .p-hh-mp-item {
          span {
            display: inline-block;
            &:nth-child(2n + 1) {
              width: 40px;
              text-align: left;
            }
            &:nth-child(2n) {
              width: calc((100% - 140px) / 3);
              text-align: left;
            }
          }
        }
      }
    }
    .loading-more-box {
      width: calc(100% - 40px);
      height: 30px;
      margin: 20px 20px 0 20px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
      border-radius: 10px;
      text-align: center;
      .loading-box {
        margin: 5px auto;
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
      }
      span {
        line-height: 30px;
      }
    }

  }

  .van-tree-select__selected {
    line-height: 44px !important;
  }
}

.p-zf-main {
  width: 100%;
  height: 100%;

  .p-zf-body {
    width: 100%;
    height: 100%;
    .p-zf-search {
      width: 100%;
      height: 100%;
      overflow: hidden;
      .p-zf-search-body {
        width: 100%;
        height: calc(100% - 46px);
        overflow-x: hidden;
        overflow-y: auto;
      }
    }
  }

  .p-result-body {
    width: 100%;
    height: calc(100% - 46px);
    overflow: auto;
    padding: 0 15px 20px 15px;
    .p-zf-con {
      width: 100%;
      .p-zf-con-li {
        width: calc(100% - 30px);
        margin: 15px 15px 0 15px;
        padding: 10px;
        background-color: #fff;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        border-radius: 10px;
        line-height: 26px;
        overflow: hidden;
        .p-zf-item-head {
          width: calc(100% + 20px);
          height: 30px;
          padding: 0 10px;
          line-height: 30px;
          background-color: rgba(164, 188, 236, .5);
          margin: -10px -10px 0 -10px;
          span {
            &:last-child {
              margin-left: 10px;
            }
          }
        }

        .p-zf-li-q {
          border-bottom: 1px solid #ccc;
        }

        .p-zf-item {
          line-height: 30px;
          span {
            display: inline-block;
            &.new-name {
              color: rgba(49, 108, 226, 1);
            }
            &.old-name {
              color: rgba(117, 157, 238, .7);
            }
            &.new-shili {
              color: rgb(243, 187, 34);
            }
            &.old-shili {
              color: rgba(243, 187, 34, .7);
            }
            &.new-fwq {
              color: rgb(147, 202, 145);
            }
            &.old-fwq {
              color: rgba(147, 202, 145, .7)
            }

            &:nth-child(1) {
              width: 45px;
              text-align: left;
            }
            &:nth-child(2) {
              width: calc(50% - 50px);
              text-align: left;
            }
            &:nth-child(3) {
              width: 40px;
              text-align: left;
            }
            &:nth-child(4) {
              width: calc(50% - 50px);
              text-align: left;
            }
            &.long-title {
              width: 60px;
            }

            &.all-span {
              width: calc(100% - 70px);
            }
          }
        }
      }
    }
    .loading-more-box {
      width: calc(100% - 40px);
      height: 30px;
      margin: 20px 20px 0 20px;
      background-color: #fff;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
      border-radius: 10px;
      text-align: center;
      .loading-box {
        margin: 5px auto;
        width: 20px;
        height: 20px;
        position: relative;
        top: 5px;
      }
      span {
        line-height: 30px;
      }
    }
  }

  .van-tree-select__selected {
    line-height: 44px !important;
  }

}
