<template>
  <div class="phone-home-main">
      <button @click="routerGo($event)">进入系统</button>
  </div>
</template>
<script>
import bowser from 'bowser';
export default {
    created() {},
    methods: {
      routerGo() {
        this.$router.push('/p_main/search');
      }
    }
}
</script>
