<template>
    <div class="szzq-main">
        <el-tabs class="szzq-pain" @tab-click="changeTag" :value="chooseTag" type="border-card">
            <el-tab-pane v-for="(item, index) in tabList" :key="index" :name="item.id" :label="item.name">
                <div class="szzq-con" v-show="chooseTag === 'sz'">
                    <div class="query-box">
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">名称</Col>
                                <Row type="flex" align="middle" >
                                    <el-select
                                        v-model="searchSZData.name"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in options4"
                                            :key="item.value"
                                            :label="item.label"
                                            style="height:40px;margin: 5px 0;"
                                            :value="item.value">
                                            <div style=" height: 100%;">
                                                <img style="width: 40px; heigth: 30px;float:left;margin:5px 0;" src="../../../assets/item6.jpg">    
                                                <span style="line-height:40px;margin-left:5px;">{{item.label}}</span>
                                            </div>
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">性别</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchSZData.sex" placeholder="请选择">
                                        <el-option
                                            v-for="item in szList.sexList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">颜色</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchSZData.color" placeholder="请选择">
                                        <el-option
                                            v-for="item in szList.colorList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">风格</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchSZData.style" placeholder="请选择">
                                        <el-option
                                            v-for="item in szList.styleList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">染色</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchSZData.dye" placeholder="请选择">
                                        <el-option
                                            v-for="item in szList.dyeList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">获取方式</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchSZData.getway" placeholder="请选择">
                                        <el-option
                                            v-for="item in szList.getwayList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                    </div>
                    <div class="szzq-con-body">
                        <el-table 
                            :data="tableData"
                            style="width: 100%"
                            height="700">
                            <el-table-column
                                prop="string"
                                label="时装"
                                align="center">
                                <template slot-scope="scope">
                                    <div>
                                        <img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                label="名称"
                                align="center"
                                width="180">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.level }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="性别"
                                width="120">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.equ_xiuwei }}</span>
                                    <span>/</span>
                                    <span>{{scope.row.xiuwei}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="颜色">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="风格"
                                width="180">
                                <template slot-scope="scope">
                                    <span>{{ '￥' + scope.row.price }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="染色"
                                width="120">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.jiahu }}</span>
                                    <span>/</span>
                                    <span>{{scope.row.lian_hu}}</span>
                                </template>
                            </el-table-column>   
                            <el-table-column
                                prop="string"
                                align="center"
                                label="获取方式">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.area_name + '-' + scope.row.server_name}}</span>
                                    <br>
                                    <span>{{scope.row.seller_nickname}}</span>
                                </template>
                            </el-table-column>                               
                        </el-table>
                    </div>
                </div>
                <div class="szzq-con" v-show="chooseTag === 'zq'">
                    <div class="query-box">
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">坐骑名称</Col>
                                <Row type="flex" align="middle" >
                                    <el-select
                                        v-model="searchZQData.name"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in options4"
                                            :key="item.value"
                                            :label="item.label"
                                            style="height:40px;margin: 5px 0;"
                                            :value="item.value">
                                            <div style=" height: 100%;">
                                                <img style="width: 40px; heigth: 30px;float:left;margin:5px 0;" src="../../../assets/item6.jpg">    
                                                <span style="line-height:40px;margin-left:5px;">{{item.label}}</span>
                                            </div>
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">坐骑颜色</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.color" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.colorList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">坐骑风格</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.style" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.styleList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">获取方式</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.getway" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.getwayList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">坐骑范围</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.area" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.areaList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">乘坐人数</Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.personNum" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.personNumList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">陆行速度></Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.speedF" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.speedFList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">飞行速度></Col>
                                <Row type="flex" align="middle" >
                                    <el-select v-model="searchZQData.speedS" placeholder="请选择">
                                        <el-option
                                            v-for="item in zqList.speedSList"
                                            :key="item.value"
                                            :label="item.label"
                                            :value="item.value">
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                    </div>
                    <div class="szzq-con-body">
                        <el-table 
                            :data="tableData"
                            style="width: 100%"
                            height="700">
                            <el-table-column
                                prop="string"
                                label="坐骑"
                                align="center">
                                <template slot-scope="scope">
                                    <div>
                                        <img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                label="名称"
                                align="center"
                                width="180">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.level }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="范围"
                                width="120">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.equ_xiuwei }}</span>
                                    <span>/</span>
                                    <span>{{scope.row.xiuwei}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="颜色">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="乘坐人数">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="风格"
                                width="180">
                                <template slot-scope="scope">
                                    <span>{{ '￥' + scope.row.price }}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="速度(飞行/陆行)"
                                width="180">
                                <template slot-scope="scope">
                                    <span>{{ '￥' + scope.row.price }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="获取方式">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.area_name + '-' + scope.row.server_name}}</span>
                                    <br>
                                    <span>{{scope.row.seller_nickname}}</span>
                                </template>
                            </el-table-column>                               
                        </el-table>
                    </div>
                </div>
                <div class="szzq-con" v-show="chooseTag === 'lm'">
                    <div class="query-box">
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">名称</Col>
                                <Row type="flex" align="middle" >
                                    <el-select
                                        v-model="searchLMData.name"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in options4"
                                            :key="item.value"
                                            :label="item.label"
                                            style="height:40px;margin: 5px 0;"
                                            :value="item.value">
                                            <div style=" height: 100%;">
                                                <img style="width: 40px; heigth: 30px;float:left;margin:5px 0;" src="../../../assets/item6.jpg">    
                                                <span style="line-height:40px;margin-left:5px;">{{item.label}}</span>
                                            </div>
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                    </div>
                    <div class="szzq-con-body">
                        <el-table 
                            :data="tableData"
                            style="width: 100%"
                            height="700">
                            <el-table-column
                                prop="string"
                                label="脸摸"
                                align="center">
                                <template slot-scope="scope">
                                    <div>
                                        <img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                label="名称"
                                align="center">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.level }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="性别">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.equ_xiuwei }}</span>
                                    <span>/</span>
                                    <span>{{scope.row.xiuwei}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="获取方式">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>                             
                        </el-table>
                    </div>
                </div>
                <div class="szzq-con" v-show="chooseTag === 'lc'">
                    <div class="query-box">
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">名称</Col>
                                <Row type="flex" align="middle" >
                                    <el-select
                                        v-model="searchLCData.name"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in options4"
                                            :key="item.value"
                                            :label="item.label"
                                            style="height:40px;margin: 5px 0;"
                                            :value="item.value">
                                            <div style=" height: 100%;">
                                                <img style="width: 40px; heigth: 30px;float:left;margin:5px 0;" src="../../../assets/item6.jpg">    
                                                <span style="line-height:40px;margin-left:5px;">{{item.label}}</span>
                                            </div>
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                    </div>
                    <div class="szzq-con-body">
                        <el-table 
                            :data="tableData"
                            style="width: 100%"
                            height="700">
                            <el-table-column
                                prop="string"
                                label="陆尘"
                                align="center">
                                <template slot-scope="scope">
                                    <div>
                                        <img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                label="名称"
                                align="center">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.level }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="获取方式">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>                             
                        </el-table>
                    </div>
                </div>
                <div class="szzq-con" v-show="chooseTag === 'sj'">
                    <div class="query-box">
                        <Row type="flex" class="item-query" align="middle">
                            <Row type="flex" class="item-qj" align="middle">
                                <Col span="1" class="title">名称</Col>
                                <Row type="flex" align="middle" >
                                    <el-select
                                        v-model="searchSJData.name"
                                        filterable
                                        remote
                                        reserve-keyword
                                        placeholder="请输入关键词"
                                        :remote-method="remoteMethod"
                                        :loading="loading">
                                        <el-option
                                            v-for="item in options4"
                                            :key="item.value"
                                            :label="item.label"
                                            style="height:40px;margin: 5px 0;"
                                            :value="item.value">
                                            <div style=" height: 100%;">
                                                <img style="width: 40px; heigth: 30px;float:left;margin:5px 0;" src="../../../assets/item6.jpg">    
                                                <span style="line-height:40px;margin-left:5px;">{{item.label}}</span>
                                            </div>
                                        </el-option>
                                    </el-select>
                                </Row>
                            </Row>
                        </Row>
                    </div>
                    <div class="szzq-con-body">
                        <el-table 
                            :data="tableData"
                            style="width: 100%"
                            height="700">
                            <el-table-column
                                prop="string"
                                label="饰件"
                                align="center">
                                <template slot-scope="scope">
                                    <div>
                                        <img :src="'http://res.tx3.cbg.163.com/images/role/smallface/' + scope.row.school + scope.row.sex + '.jpg'" alt="">
                                    </div>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                label="名称"
                                align="center">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.level }}</span>
                                </template>
                            </el-table-column> 
                            <el-table-column
                                prop="string"
                                align="center"
                                label="性别">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.equ_xiuwei }}</span>
                                    <span>/</span>
                                    <span>{{scope.row.xiuwei}}</span>
                                </template>
                            </el-table-column>
                            <el-table-column
                                prop="string"
                                align="center"
                                label="获取方式">
                                <template slot-scope="scope">
                                    <span>{{ scope.row.movespeed }}</span>
                                    <span>/</span>
                                    <span>{{ scope.row.castspeed }}</span>
                                </template>
                            </el-table-column>                             
                        </el-table>
                    </div>
                </div>
            </el-tab-pane>
        </el-tabs>
    </div>
</template>
<script>
export default {
    data() {
        return {
            tabList: [
                {
                    id: 'sz',
                    name: '时装'
                },
                {
                    id: 'zq',
                    name: '坐骑'
                },
                {
                    id: 'lm',
                    name: '脸模'
                },
                {
                    id: 'lc',
                    name: '陆尘'
                },
                {
                    id: 'sj',
                    name: '饰件'
                }
            ],
            tableData: [],
            zqList: {
                colorList: [],
                styleList: [],
                getwayList: [],
                personNumList: [],
                areaList: [],
                speedFList: [],
                speedSList: []
            },
            szList: {
                sexList: [],
                colorList: [],
                styleList: [],
                dyeList: [],
                getwayList: []
            },
            lmList: {},
            lcList: {},
            sjList: {},
            chooseTag: 'sz',
            options4: [],
            list: [],
            searchZQData: {
                name: '',
                color: '',
                style: '',
                getway: '',
                personNum: '',
                area: '',
                speedF: '',
                speedS: ''
            },
            searchSZData: {
                name: '',
                sex: '',
                color: '',
                style: '',
                dye: '',
                getway: ''
            },
            searchLMData: {
                name: ''
            },
            searchLCData: {
                name: ''
            },
            searchSJData: {
                name: ''
            },
            loading: false,
            states: ["Alabama", "Alaska", "Arizona",
            "Arkansas", "California", "Colorado",
            "Connecticut", "Delaware", "Florida",
            "Georgia", "Hawaii", "Idaho", "Illinois",
            "Indiana", "Iowa", "Kansas", "Kentucky",
            "Louisiana", "Maine", "Maryland",
            "Massachusetts", "Michigan", "Minnesota",
            "Mississippi", "Missouri", "Montana",
            "Nebraska", "Nevada", "New Hampshire",
            "New Jersey", "New Mexico", "New York",
            "North Carolina", "North Dakota", "Ohio",
            "Oklahoma", "Oregon", "Pennsylvania",
            "Rhode Island", "South Carolina",
            "South Dakota", "Tennessee", "Texas",
            "Utah", "Vermont", "Virginia",
            "Washington", "West Virginia", "Wisconsin",
            "Wyoming"]
        }
    },
    mounted() {
      this.list = this.states.map(item => {
        return { value: item, label: item };
      });
    },
    created() {

    },
    methods: {
        remoteMethod(query) {
            if (query !== '') {
                this.loading = true;
                setTimeout(() => {
                    this.loading = false;
                    this.options4 = this.list.filter(item => {
                    return item.label.toLowerCase()
                        .indexOf(query.toLowerCase()) > -1;
                    });
                }, 200);
            } else {
                this.options4 = [];
            }
        },
        changeTag(item) {
            this.chooseTag = item.name;
        }
    }
}
</script>
